<div mat-dialog-content class="dialog-box">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ profileData.name }}</mat-card-title>
      <mat-card-subtitle>{{ profileData.location }}</mat-card-subtitle>
      <mat-card-subtitle>{{ profileData.title }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ profileData.bio }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-dialog-actions class="card-actions">
    <button mat-raised-button color="secondary" (click)="denialConfirmation()">
      Deny
    </button>
    <button mat-raised-button color="primary" (click)="approvalConfirmation()">
      Approve
    </button>
  </mat-dialog-actions>
</div>
