<app-public-lists></app-public-lists>
<div class="footer">
  <small
    >Copyright &copy; {{ currentYear }} Shuddhi Vidhya Initiative, Shuddhi
    Trust, All Rights Reserved</small
  >
  <small
    ><a class="right-link" [routerLink]="termsConditionsRoute">T & C</a></small
  >
  <small
    ><a class="right-link" [routerLink]="privacyRoute">Privacy Policy</a></small
  >
  <small
    ><a
      class="right-link"
      href="https://medium.com/shuddhividhya/introducing-vidhya-io-30d61cd20d98"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >About</a
    ></small
  >
</div>
