<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<div class="member-card">
  <button
    mat-mini-fab
    color="info"
    class="profile-button"
    (click)="editMember()"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <h2>{{ currentMember?.name }}</h2>
  <p>{{ currentMember?.bio }}</p>
  <span class="title-link" (click)="onClickInstitution()">
    {{ currentMember?.institution?.name }}
  </span>
</div>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
