<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<h2 data-cy="form-title" class="center-title">Course Form</h2>
<div class="col-lg-8 col-sm-12 form-container">
  <form
    [formGroup]="courseForm"
    novalidate
    (submit)="submitForm(courseForm, formDirective)"
    #formDirective="ngForm"
  >
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        required
        placeholder="Title of the course"
      />
      <small
        class="validation-error"
        *ngIf="
          courseForm.get('title').hasError('required') &&
          formDirective.submitted
        "
      >
        Title is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Index</mat-label>
      <input
        matInput
        formControlName="index"
        placeholder="Index; the order in which it appears in the feed"
      />
    </mat-form-field>
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Blurb</mat-label>
      <input
        matInput
        formControlName="blurb"
        required
        placeholder="A very brief description of the course"
      />
      <small
        class="validation-error"
        *ngIf="
          courseForm.get('blurb').hasError('required') &&
          formDirective.submitted
        "
      >
        Blurb is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        required
        placeholder="Detailed description of the course"
      ></textarea>
      <small
        class="validation-error"
        *ngIf="
          courseForm.get('description').hasError('required') &&
          formDirective.submitted
        "
      >
        Description is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Video</mat-label>
      <input
        matInput
        formControlName="video"
        placeholder="YouTube Video embed link"
      />
      <small class="validation-error" style="color: gray">
        Go to the video on YouTube and click on 'share' and select the 'embed'
        option to get the Embed code. In it, copy the value in the 'src'
        attribute. Paste the link here.
      </small>
    </mat-form-field>
    <br />

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Institutions</mat-label>
      <mat-select
        multiple
        formControlName="institutions"
        placeholder="The institutions eligible for this course"
      >
        <mat-option
          *ngFor="let institution of institutionOptions$ | async"
          [value]="institution.value"
        >
          {{ institution.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Mandatory Prerequisites</mat-label>
      <mat-select
        multiple
        formControlName="mandatoryPrerequisites"
        placeholder="Courses required to be eligible for this course"
      >
        <mat-option *ngFor="let course of courseOptions" [value]="course.value">
          {{ course.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Recommended Prerequisites</mat-label>
      <mat-select
        multiple
        formControlName="recommendedPrerequisites"
        placeholder="Optional course requirements"
      >
        <mat-option *ngFor="let course of courseOptions" [value]="course.value">
          {{ course.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Expected start date</mat-label>
      <input
        matInput
        [matDatepicker]="startdatepicker"
        formControlName="startDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startdatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startdatepicker [startAt]="currentDate">
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Expected end date</mat-label>
      <input
        matInput
        [matDatepicker]="enddatepicker"
        formControlName="endDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="enddatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #enddatepicker
        [startAt]="
          courseForm.get('startDate').value
            ? courseForm.get('startDate').value
            : currentDate
        "
      >
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Credit Hours (expected hrs/week of effort required)</mat-label>
      <input
        matInput
        type="number"
        formControlName="creditHours"
        placeholder="Number of hours/week"
      />
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Graders</mat-label>
      <mat-select
        multiple
        formControlName="graders"
        placeholder="Graders for this course"
      >
        <mat-option *ngFor="let grader of graderOptions" [value]="grader.value">
          {{ grader.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-6 col-sm-12" appearance="outline">
      <mat-label
        >Pass Completion % (Completion % required to mark this course as
        completed)</mat-label
      >
      <input
        matInput
        type="number"
        min="1"
        max="100"
        formControlName="passCompletionPercentage"
        placeholder="Pass Completion %"
      />
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-6 col-sm-12" appearance="outline">
      <mat-label
        >Pass Score % (Score % required to mark this course as
        completed)</mat-label
      >
      <input
        matInput
        type="number"
        min="1"
        max="100"
        formControlName="passScorePercentage"
        placeholder="Pass Score %"
      />
    </mat-form-field>

    <!-- <mat-form-field
      *ngIf="memberOptions?.length"
      class="col-lg-12 col-md-12 col-sm-12"
      [class.dropdown-loading]="isFetchingMembers"
      appearance="outline"
    >
      <mat-label>Participants</mat-label>
      <mat-select
        multiple
        (selectionChange)="updateParticipantRows($event)"
        formControlName="participants"
        placeholder="The particippants of this course"
      >
        <mat-option *ngFor="let member of memberOptions" [value]="member.value">
          {{ member.label }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <div *ngIf="!(isFetchingCourse$ | async); else loadingTemplate">
      <ag-grid-angular
        class="ag-theme-alpine group-member-table"
        [rowData]="memberRows"
        [columnDefs]="memberColumns"
        [defaultColDef]="defaultColDef"
        rowSelection="multiple"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged($event)"
        [enableCellTextSelection]="true"
        [suppressMenuHide]="true"
      ></ag-grid-angular>
      <p style="margin: 10px 0px 5px 40px">
        {{ participantCount() }}
        of {{ memberOptions.length }} members chosen as participant{{
          participantCount() > 1 ? "s" : ""
        }}
      </p>
    </div>
    <button
      type="submit"
      class="floating-button-bottom"
      mat-raised-button
      color="primary"
      [disabled]="(formSubmitting$ | async) === true"
    >
      {{ (formSubmitting$ | async) === true ? "Submitting..." : "Submit" }}
    </button>
  </form>
</div>
<br />
<br />
<ng-template #loadingTemplate>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
