<div id="hero-block">
  <h2>Welcome to</h2>
  <img id="hero-logo" src="assets/images/logo.svg" />
</div>

<!-- <div *ngIf="learners.length; else emptyLearnersListTemplate">
  <div class="cards">
    <div *ngFor="let learner of learners">
      <mat-card class="card">
        <mat-card-header>
          <img
            mat-card-avatar
            [src]="learner.avatar"
            [alt]="learner.firstName"
          />
          <mat-card-title>{{ learner.name }}</mat-card-title>
          <mat-card-subtitle>{{ generateSubtitle(learner) }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          {{ learner.bio }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #emptyLearnersListTemplate>
  <h2>No students to display!</h2>
</ng-template> -->
<div class="footer">
  <small
    >Copyright &copy; {{ currentYear }} Shuddhi Vidhaya Initiative, Shuddhi
    Trust, All Rights Reserved</small
  >
  <small
    ><a class="right-link" [routerLink]="privacyRoute">Privacy Policy</a></small
  >
</div>
