h2 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  margin: 10px;
  padding: 10px;
}
// .card {
//   border: 1px solid #ccc;
//   box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
// }
