<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<span *ngIf="!(isFetchingGroup$ | async)">
  <div class="group-card">
    <button
      *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
      mat-mini-fab
      color="warn"
      class="profile-button"
      (click)="deleteConfirmation()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
      mat-mini-fab
      color="info"
      [class.button-loading]="isFetchingGroup$ | async"
      class="profile-button"
      (click)="editGroup()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <h2>{{ group?.name }}</h2>
    <p>{{ groupTypeLabel }}</p>
    <p>{{ group?.description }}</p>
  </div>

  <ag-grid-angular
    class="ag-theme-alpine group-member-table"
    [rowData]="memberRows"
    [columnDefs]="selectedMemberColumns"
  >
  </ag-grid-angular>
</span>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
