<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<span *ngIf="!(isFetchingGroup$ | async)">
  <button
    *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
    mat-mini-fab
    color="warn"
    class="profile-button"
    (click)="deleteConfirmation()"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
    mat-mini-fab
    color="info"
    [class.button-loading]="isFetchingGroup$ | async"
    class="profile-button"
    (click)="editGroup()"
  >
    <mat-icon>edit</mat-icon>
  </button>

  <div class="group-card">
    <h2>{{ group?.name }}</h2>
    <p>{{ group?.description }}</p>
  </div>
</span>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
