<div class="col-lg-8 col-sm-12 form-container">
  <mat-accordion multi>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Account Settings
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="AccountSettingsTemplate"></ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Profile
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="ProfileTemplate"></ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="ContactTemplate"></ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel [ngClass]="invalidFields.length>0 ? 'errorBoxExist' : 'institutionPanel'" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Institution
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="InstitutionTemplate"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<form [formGroup]="memberForm" novalidate (submit)="submitForm(memberForm, formDirective)" #formDirective="ngForm">
  <!-- ACCOUNT SETTINGS TAB UI -->
  <ng-template #AccountSettingsTemplate>
    <div>
      <form formGroupName="accountSetting">
        <div>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput specialIsAlphaNumeric placeholder="Your UserName" required formControlName="username"
              maxlength="16" pattern="^[a-zA-Z0-9_.]*$" />
            <mat-hint>You will not able to change the username later. </mat-hint>
            <small class="validation-error my-mat-hint" *ngIf="
            registerFormControl.accountSetting.get('username').hasError('required') &&
            formDirective.submitted
            "> UserName is required </small>

            <small class="validation-error  my-mat-hint" *ngIf="!registerFormControl.accountSetting.get('username')?.valid && (registerFormControl.accountSetting.get('username')?.dirty
            ||registerFormControl.accountSetting.get('username')?.touched) && registerFormControl.accountSetting.get('username').value.length>0
            "> Please Enter Valid UserName </small>
          </mat-form-field>
          <p></p>
          <div class="col-lg-9 col-md-12 col-sm-12">
            <button mat-stroked-button color="primary"
              (click)="passwordUpdate(registerFormControl.contact.get('email'),formDirective)">Change Password</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <!-- PROFILE TAB UI -->
  <ng-template #ProfileTemplate>
    <div>
      <form formGroupName="profile">
        <p></p>
        <div class="col-lg-3 col-md-4 col-sm-12 floating-avatar">
          <div *ngIf="registerFormControl.profile.get('avatar').value" class="col-lg-12 col-md-12 col-sm-12">
            <div class="image-container" (click)="avatarUpdate.click()">
              <img [src]="previewPath" class="thumbnail" alt="Your avatar" />
              <div class="centered">Click here to update image</div>
            </div>
          </div>
          <mat-hint>Your photo will only be visible to other members of {{ currentMember.institution.name }} and the
            administrators of Shuddhi Vidhya.
          </mat-hint>
          <input matInput hidden />
          <mat-label [hidden]="previewPath">Avatar</mat-label>
          <br />
          <br />
          <input [hidden]="previewPath" #avatarUpdate id="avatar-choose-button" type="file" accept="image/*"
            placeholder="Your avatar" (change)="onAvatarChange($event)" />
        </div>
        <mat-form-field class="col-lg-9 col-md-12 col-sm-12" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput required formControlName="firstName" placeholder="Your first name" />
          <small class="validation-error" *ngIf="
           registerFormControl.profile.get('firstName').hasError('required') &&
           formDirective.submitted
           "> First Name is required </small>
        </mat-form-field>
        <mat-form-field class="col-lg-9 col-md-12 col-sm-12" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput required formControlName="lastName" placeholder="Your last name" />
          <small class="validation-error" *ngIf="
           registerFormControl.profile.get('lastName').hasError('required') &&
           formDirective.submitted
           "> Last Name is required </small>
        </mat-form-field>
        <mat-form-field class="col-lg-9 col-md-12 col-sm-12" appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly="true" formControlName="dob"
            [max]="maxDob" placeholder="Date of birth"
            [class.invalid-input]="registerFormControl.profile.get('dob').invalid && (registerFormControl.profile.get('dob').dirty || registerFormControl.profile.get('dob').touched)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- <small class="validation-error" *ngIf="registerFormControl.profile.get('dob').hasError('required') &&
           formDirective.submitted
           "> DOB is required </small> -->
        </mat-form-field>
      </form>
    </div>
  </ng-template>
  <!-- CONTACT TAB UI -->
  <ng-template #ContactTemplate>
    <div>
      <form formGroupName="contact">
        <div>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-6" disabled appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" placeholder="Mobile" onlyNumber />
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-6" disabled appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" placeholder="Phone" onlyNumber />
          </mat-form-field>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12" disabled appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" placeholder="Your communication address"></textarea>
          </mat-form-field>
          <mat-form-field class="col-lg-4 col-md-4 col-sm-4" disabled appearance="outline">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" placeholder="City" />
          </mat-form-field>
          <mat-form-field class="col-lg-4 col-md-4 col-sm-4" disabled appearance="outline">
            <mat-label>Pincode</mat-label>
            <input matInput formControlName="pincode" placeholder="Pincode" />
          </mat-form-field>
          <mat-form-field class="col-lg-4 col-md-4 col-sm-4" disabled appearance="outline">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" placeholder="State" required />
            <small class="validation-error" *ngIf="
              registerFormControl.contact.get('state').hasError('required') &&
              formDirective.submitted
              "> State is required</small>
          </mat-form-field>
          <mat-form-field class="col-lg-4 col-md-4 col-sm-4" disabled appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput required formControlName="country" placeholder="Country" />
            <small class="validation-error" *ngIf="
              registerFormControl.contact.get('country').hasError('required') &&
              formDirective.submitted
              "> Country is required</small>
          </mat-form-field>
          <mat-form-field class="col-lg-6 col-md-6 col-sm-6" appearance="outline">
            <mat-label>Email ID</mat-label>
            <input matInput formControlName="email" required placeholder="Email ID" />
          </mat-form-field>
        </div>
      </form>
    </div>
  </ng-template>
  <!-- INSTITUTION TAB UI -->
  <ng-template #InstitutionTemplate>
    <div>
      <form formGroupName="institution">
        <div>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12" [class.dropdoawn-loading]="isFetchingInstitutions"
            appearance="outline">
            <mat-label>Institution</mat-label>
            <input type="text" matInput required [matAutocomplete]="auto" formControlName="institution"
              (input)="filterInstitution($event)" #autoInput>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"
              (optionSelected)='selectInstitution($event.option.value)'>
              <div *ngIf="filteredInstitutionOptions$ | async as filteredInstitutionOptions">
                <ng-container *ngIf="filteredInstitutionOptions.length; else noItems">
                  <div class="institutionGrid">
                    <div class="row institutionGridHead" style="background-color: #0099ff;">
                      <div class="col"><strong>Name</strong></div>
                      <div class="col"><strong>Institution Type</strong></div>
                    </div>
                    <mat-option *ngFor="let institution of filteredInstitutionOptions;let i=index; let l = count"
                      [value]="institution">
                      <div class="institutionGridBody">
                        <div class="row">
                          <div class="col" [matTooltip]="institution.name" matTooltipPosition="above"> {{
                            institution.name }}</div>
                          <div class="col">
                            {{institution.institutionType=='SC'?'School':institution.institutionType=='CL'?'College':institution.institutionType=='CO'?'Company':institution.institutionType=='OR'?'Organization':'SC'}}
                          </div>
                        </div>
                      </div>
                    </mat-option>
                  </div>
                </ng-container>
                <ng-template #noItems>No Items!
                  <mat-option>
                    <button mat-raised-button color="primary" (click)="addNewInstitution($event)">Can't find your
                      institution? Add it!</button>
                  </mat-option>
                </ng-template>
              </div>
            </mat-autocomplete>
            <small class="validation-error" *ngIf="
            registerFormControl.institution.get('institution').hasError('required') &&
            formDirective.submitted
            ">Institution is required </small>
          </mat-form-field>
          <mat-form-field class="col-lg-12 col-md-12 col-sm-12"
            *ngIf="registerFormControl.institution.get('institution').value?true:false" appearance="outline">
            <mat-label>Designation</mat-label>
            <mat-select formControlName="designation" required placeholder="Designation">
              <mat-option *ngFor="let designation of designationOptions" [value]="designation">
                {{designation }}
              </mat-option>
            </mat-select>
            <small class="validation-error" *ngIf="
              registerFormControl.institution.get('designation').hasError('required') &&
              formDirective.submitted">
              Designation is required
            </small>
          </mat-form-field>
        </div>
      </form>
    </div>
  </ng-template>
  <div>

    <div class="col-lg-8 col-sm-12 form-container" id="scrollId">
      <div class="mb-5">
        <mat-card *ngIf="invalidFields.length>0">
          <ul>
            <li *ngFor="let field of invalidFields" class="error">{{field}} is required</li>
          </ul>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- </ng-template> -->
  <button type="submit" class="floating-button-bottom" mat-raised-button color="primary"
    [disabled]="(formSubmitting$ | async) === true">
    {{ (formSubmitting$ | async) === true ? "Submitting..." : submitBtnName }}
  </button>
</form>

<ng-template #dialogTemplate>
  <h2 class="center-title">Change Password</h2>

  <div class="col-lg-12 col-md-12 col-sm-12">
    <div>Please click below to logout and check your email
      <h4 class="displayMail">{{registerFormControl.contact.get('email').value}}</h4> to set password and enable same
      account to do manual login.
    </div>
    <button mat-stroked-button color="primary" class="resetLogoutButton" (click)="resetPassword()">Click here</button>
  </div>
</ng-template>