.dialog-box {
  width: 60vw;
  min-width: 300px;
  height: 60vh;
  min-height: 500px;
  overflow: auto;
}

.profile-title {
  text-align: center;
}

.card-actions {
  float: right;
}

.avatar {
  float: left;
  max-height: 100px;
  width: auto;
  margin-right: 20px;
}
.avatar::after {
  float: clear;
}

.bio-text {
  padding-left: 10px;
}

.institutionGridHead {
  background-color: #0099ff;
  margin: auto;
  padding: 7px;
}

.institutionGrid mat-option {
  border: 1px solid #0099ff;
}

.institutionGrid mat-option .col:first-child {
  border-right: 1px solid #0099ff;
  ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.institutionGrid .col {
  width: 50%;
}

@media screen and (max-width: 480px) {
  .dialog-box {
    width: 100%;
    height: auto;
  }
}
