.group-member-table {
  height: 300px;
  width: 95%;
  overflow: auto;
  display: block;
  margin: auto;
}

.floating-logo {
  float: left;
}

@media screen and (max-width: 768px) {
  .floating-logo {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
