<mat-dialog-content class="dialog-box">
  <div *ngIf="rubric">
    <p mat-dialog-title>Rubric</p>
    <table
      mat-table
      [dataSource]="rubric"
      class="col-lg-12 col-md-12 col-sm-12"
    >
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="col-lg-9 col-md-7 col-sm-7"
        >
          Criterion
        </th>
        <td mat-cell *matCellDef="let criterion">
          {{ criterion.description }}
        </td>
      </ng-container>

      <!-- Points Column -->
      <ng-container matColumnDef="points">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="col-lg-1 col-md-1 col-sm-2"
        >
          Points
        </th>
        <td mat-cell *matCellDef="let criterion">
          {{ criterion?.score }} /
          {{ criterion?.points }}
        </td>
      </ng-container>

      <!-- Remarks Column -->
      <ng-container matColumnDef="remarks">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="col-lg-1 col-md-1 col-sm-2"
        >
          Remarks
        </th>
        <td mat-cell *matCellDef="let criterion">
          <button
            *ngIf="criterion.remarks"
            mat-icon-button
            color="primary"
            (click)="showRemarks(criterion)"
            [nz-tooltip]="
              'Click to view remarks by ' + criterion.remarker?.name
            "
          >
            <mat-icon> comment </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="rubricDatatableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: rubricDatatableColumns"></tr>
    </table>
  </div>
</mat-dialog-content>
