<div class="feed-header-block">
  <!-- <h2>Groups</h2> -->
  <button
    data-cy="add-group-button"
    *ngIf="authorizeResourceMethod(resourceActions.CREATE)"
    (click)="createGroup()"
    class="floating-header-button-top"
    mat-icon-button
    color="primary"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
<span *ngIf="authorizeResourceMethod(resourceActions.LIST)">
  <span *ngIf="(groups$ | async)?.length > 0; else feedEmpty">
    <div
      data-cy="group-cards"
      class="scroll-feed"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      infiniteScrollContainer=".scroll-feed"
      [fromRoot]="true"
      (scrolled)="onScroll()"
    >
      <div *ngFor="let group of groups$ | async">
        <mat-card class="feed-card" (click)="openGroup(group)">
          <button
            [nz-tooltip]="group?.adminCount + ' admin(s)'"
            class="card-count"
            mat-mini-fab
            color="accent"
          >
            {{ group?.adminCount }}
          </button>
          <button
            [nz-tooltip]="group?.memberCount + ' member(s)'"
            class="card-count"
            mat-mini-fab
            color="primary"
          >
            {{ group?.memberCount }}
          </button>
          <h2>{{ group.name }}</h2>
          <p>{{ clip(group.description) }}</p>

          <mat-card-actions>
            <small style="font-style: italic">{{
              renderGroupSubtitle(group)
            }}</small></mat-card-actions
          >
        </mat-card>
      </div>
    </div>
  </span>

  <ng-template #feedEmpty>
    <p class="center-title">There are no groups you are part of!</p>
  </ng-template>

  <ng-template #loading>
    <app-simple-loading-spinner></app-simple-loading-spinner>
  </ng-template>
</span>
