<mat-tab-group
  mat-align-tabs="center"
  color="accent"
  [(selectedIndex)]="activeTabIndex"
  (selectedTabChange)="onTabChange($event)"
  class="admin-tabs"
>
  <mat-tab
    *ngIf="authorizeResourceMethod(resources.MODERATION)"
    [label]="tabIndexList[0]"
  >
    <app-awaiting-moderation-table></app-awaiting-moderation-table>
  </mat-tab>
  <mat-tab
    *ngIf="authorizeResourceMethod(resources.USER_ROLE)"
    [label]="tabIndexList[1]"
    ><div class="mat-tab">
      <app-roles-table></app-roles-table>
    </div>
  </mat-tab>
  <mat-tab
    [label]="tabIndexList[2]"
    *ngIf="authorizeResourceMethod(resources.INSTITUTION)"
  >
    <div class="mat-tab">
      <app-institutions-table></app-institutions-table>
    </div>
  </mat-tab>
  <mat-tab
    [label]="tabIndexList[3]"
    *ngIf="authorizeResourceMethod(resources.MEMBER)"
    ><div class="mat-tab">
      <app-members-table></app-members-table>
    </div>
  </mat-tab>
  <mat-tab
    [label]="tabIndexList[4]"
    *ngIf="authorizeResourceMethod(resources.INSTITUTION_ADMIN)"
  >
    <div class="mat-tab">
      <app-institution-admins-table></app-institution-admins-table>
    </div>
  </mat-tab>
  <mat-tab
    [label]="tabIndexList[5]"
    *ngIf="authorizeResourceMethod(resources.CLASS_ADMIN)"
  >
    <div class="mat-tab">
      <app-class-admins-table></app-class-admins-table>
    </div>
  </mat-tab>
  <mat-tab
    [label]="tabIndexList[6]"
    *ngIf="authorizeResourceMethod(resources.LEARNER)"
  >
    <div class="mat-tab">
      <app-learners-table></app-learners-table>
    </div>
  </mat-tab>
</mat-tab-group>
