<div *ngIf="authorizeResourceMethod(resourceActions.LIST)">
  <button
    mat-icon-button
    *ngIf="!showGroupCards"
    (click)="goToGroupScreen()"
    class="floating-back-button"
  >
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <div class="feed-header-block">
    <h2>Grading</h2>
  </div>
  <div class="floating-header-button-container">
    <mat-menu #menu="matMenu">
      <mat-form-field class="menu-item" appearance="outline">
        <mat-label>Group By</mat-label>
        <mat-select
          [(ngModel)]="groupBy"
          (ngModelChange)="fetchGradingGroups()"
        >
          <mat-option
            *ngFor="let groupBy of groupByOptions"
            [value]="groupBy.value"
          >
            {{ groupBy.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="menu-item" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select
          [(ngModel)]="submissionStatusFilter"
          (ngModelChange)="fetchGradingGroups()"
        >
          <mat-option
            *ngFor="let status of exerciseSubmissionStatusOptions"
            [value]="status.value"
          >
            {{ status.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-menu>
    <button
      type="button"
      mat-mini-fab
      [matMenuTriggerFor]="menu"
      aria-label="Filter the Grading"
    >
      <mat-icon>filter_list</mat-icon>
    </button>

    <button
      *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
      type="button"
      mat-raised-button
      color="primary"
      [class.button-loading]="isSubmittingForm$ | async"
      (click)="submitExerciseSubmissionForm()"
      [disabled]="!showSaveButton()"
    >
      {{ (isSubmittingForm$ | async) ? "Saving..." : "Save all" }}
    </button>
  </div>
  <span *ngIf="showGroupCards; else submissionsTemplate">
    <span *ngIf="gradingGroups.length > 0; else feedEmpty">
      <div
        class="scroll-feed"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        infiniteScrollContainer=".scroll-feed"
        [fromRoot]="true"
        (scrolled)="onScroll()"
      >
        <div *ngFor="let card of gradingGroups">
          <mat-card class="feed-card" (click)="openGroupedCard(card)">
            <button class="card-count" mat-mini-fab color="primary">
              {{ card.count }}
            </button>
            <mat-card-header>
              <mat-card-title>{{ card.title }}</mat-card-title>
              <mat-card-subtitle>
                {{ card.subtitle }}
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </span>
  </span>
  <ng-template #submissionsTemplate>
    <div *ngIf="!(isFetching$ | async); else loading">
      <span *ngIf="exerciseSubmissions.length > 0; else feedEmpty">
        <div
          class="scroll-feed"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          infiniteScrollContainer=".scroll-feed"
          [fromRoot]="true"
          (scrolled)="onScroll()"
        >
          <div
            *ngFor="
              let exerciseSubmission of exerciseSubmissions;
              trackBy: trackByFn
            "
          >
            <mat-card
              class="submission-feed-card"
              [ngClass]="
                modifiedExerciseSubmissionIds.includes(exerciseSubmission.id)
                  ? 'unsaved-card'
                  : null
              "
            >
              <mat-card-header>
                <mat-card-title>{{
                  exerciseSubmission?.exercise?.prompt
                }}</mat-card-title>

                <mat-card-subtitle>
                  <small>{{ submissionSubtitle(exerciseSubmission) }}</small>
                  <p>
                    <small
                      >Submitted on
                      {{ parseDateTime(exerciseSubmission.createdAt) }}</small
                    >
                    by {{ exerciseSubmission?.participant?.name }}
                  </p></mat-card-subtitle
                >
              </mat-card-header>
              <mat-card-content>
                <mat-form-field
                  *ngIf="
                    exerciseSubmission.exercise?.questionType ==
                    questionTypes.descriptive_answer
                  "
                  class="col-lg-12 col-md-12 col-sm-12"
                  appearance="outline"
                >
                  <mat-label>Answer</mat-label>
                  <input
                    matInput
                    disabled
                    [value]="exerciseSubmission?.answer"
                    placeholder="Specify a possible valid answer"
                  />
                </mat-form-field>

                <span
                  class="col-lg-12 col-md-12 col-sm-12"
                  *ngIf="
                    exerciseSubmission.exercise?.questionType ==
                    questionTypes.options
                  "
                >
                  <p>{{ exerciseSubmission?.option }}</p>
                  <br />
                </span>

                <span
                  class="col-lg-12 col-md-12 col-sm-12"
                  *ngIf="
                    exerciseSubmission.exercise.questionType ==
                    questionTypes.image_upload
                  "
                >
                  <div
                    *ngIf="exerciseSubmission.images?.length"
                    class="col-lg-12 col-md-12 col-sm-12"
                  >
                    <span
                      *ngFor="
                        let image of exerciseSubmission.images;
                        let i = index
                      "
                    >
                      <img
                        [src]="image"
                        alt="Exercise submission"
                        class="image-preview"
                        (click)="showExpandedImage(image)"
                      />
                    </span>
                  </div>
                  <br />
                  <br />
                </span>

                <mat-form-field
                  *ngIf="
                    exerciseSubmission.exercise?.questionType ==
                    questionTypes.link
                  "
                  class="col-lg-12 col-md-12 col-sm-12"
                  appearance="outline"
                >
                  <mat-label>Link</mat-label>
                  <input
                    matInput
                    disabled
                    [value]="exerciseSubmission.link"
                    placeholder="Link"
                  />
                </mat-form-field>

                <mat-form-field
                  class="col-lg-12 col-md-12 col-sm-12"
                  appearance="outline"
                >
                  <mat-label>Remarks</mat-label>
                  <input
                    matInput
                    (keypress)="updateRemarks($event, exerciseSubmission)"
                    [ngModel]="exerciseSubmission.remarks"
                    placeholder="Optional Remarks"
                  />
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button
                  *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
                  mat-mini-fab
                  type="button"
                  color="accent"
                  [class.button-loading]="isFetchingExerciseKey$ | async"
                  (click)="showAnswerKey(exerciseSubmission)"
                >
                  <mat-icon>vpn_key</mat-icon>
                </button>
                <button
                  *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
                  mat-mini-fab
                  type="button"
                  color="primary"
                  class="card-button"
                  (click)="markCorrect(exerciseSubmission)"
                >
                  <mat-icon>check</mat-icon>
                </button>
                <button
                  *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
                  type="button"
                  color="warn"
                  class="card-button"
                  mat-mini-fab
                  (click)="markIncorrect(exerciseSubmission)"
                >
                  <mat-icon>close</mat-icon>
                </button>
                <div
                  class="card-button"
                  *ngIf="exerciseSubmission.exercise?.points"
                >
                  <mat-form-field
                    class="points-input-container"
                    appearance="outline"
                  >
                    <input
                      matInput
                      type="number"
                      (keypress)="changePoints($event, exerciseSubmission)"
                      [value]="exerciseSubmission.points"
                    />
                    <span matSuffix class="points-suffix"
                      >/ {{ exerciseSubmission.exercise?.points }} points</span
                    >
                  </mat-form-field>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </span>
    </div>
  </ng-template>

  <ng-template #feedEmpty>
    <p class="center-title">There are no submissions matching these filters!</p>
  </ng-template>

  <ng-template #loading>
    <app-simple-loading-spinner></app-simple-loading-spinner>
  </ng-template>
</div>
