.scroll-feed {
  overflow: auto;
  height: calc(100vh - 260px);
}
h2 {
  text-align: center;
}
.menu-item {
  margin: 5px 10px;
  display: block;
}

.card-count {
  float: right;
}

.card-button {
  float: right;
  margin: auto 5px;
}

.submission-feed-card {
  display: block;
  width: 90%;
  padding: 20px;
  margin: 10px auto;
  max-height: 1000px;
  overflow: auto;
}

.points-input-container {
  width: 150px;
}
.points-suffix {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bulkauto {
  margin: 10px 40px;
  right: 0px;
}

.left-header-item {
  text-align: left !important;
  margin-left: 5%;
  display: inline;
}
.unsaved-card {
  border: 2px solid var(--shuddhi-color);
}
.page-title {
  float: left;
  margin-left: 100px;
  font-size: 1.1em;
  font-weight: 300;
}
.group-type-subtitle {
  color: gray;
  font-weight: lighter;
  font-size: 0.8em;
}
.title-search-description {
  font-style: italic;
  color: gray;
  font-weight: lighter;
  font-size: 0.8em;
}

@media screen and (max-width: 1000px) {
  #drawer-puller {
    visibility: visible;
  }
  .left-header-item {
    margin-left: 5px;
  }
  #searchfield {
    width: 30%;
  }
}
