.scroll-feed {
  overflow: auto;
  height: calc(100vh - 190px);
}
h2 {
  text-align: center;
}
.drawer-item {
  margin: 0px 5px;
  display: block;
}
.drawer-container {
  height: 100%;
  width: 100%;
  padding: 5px;
  min-height: 500px;
}

.drawer-content {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#drawer-puller {
  float: left;
  position: absolute;
  left: -10px;
  z-index: 1000;
  top: 80%;
  visibility: hidden;
}

#drawer-puller:hover {
  background: rgba(0, 0, 0, 0.05);
}

#drawer-puller mat-icon {
  color: var(--shuddhi-color);
}
.selectedSection {
  border-right: 2px solid var(--shuddhi-color);
}

.unselectedSelection {
  border-right: inherit;
}

.card-count {
  float: right;
}

.image-preview {
  height: 100%;
  width: 100%;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
}

.card-button {
  float: right;
  margin: auto 5px;
}

.submission-feed-card {
  display: block;
  width: 90%;
  padding: 20px;
  margin: 10px auto;
  max-height: 600px;
  overflow: auto;
}

.points-input-container {
  width: 150px;
}
.points-suffix {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.graded-card {
  border: 2px solid var(--shuddhi-color);
}
@media screen and (max-width: 1000px) {
  #drawer-puller {
    visibility: visible;
  }
}
