.scroll-feed {
  overflow: auto;
  height: calc(100vh - 190px);
}
h2 {
  text-align: center;
}
.menu-item {
  margin: 5px 10px;
  display: block;
}

.card-count {
  float: right;
}

.card-button {
  float: right;
  margin: auto 5px;
}

.submission-feed-card {
  display: block;
  width: 90%;
  padding: 20px;
  margin: 10px auto;
  max-height: 1000px;
  overflow: auto;
}

.points-input-container {
  width: 150px;
}
.points-suffix {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bulkauto {
  margin: 10px 40px;
  position: absolute;
  right: 0px;
}

.unsaved-card {
  border: 2px solid var(--shuddhi-color);
}
@media screen and (max-width: 1000px) {
  #drawer-puller {
    visibility: visible;
  }
}
