<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" [(opened)]="opened" class="drawer-content">
    <!-- <mat-selection-list [multiple]="false">
      
      <mat-list-option
        [ngClass]="
          selectedEntity === entity.value
            ? 'selectedSection'
            : 'unselectedSection'
        "
        *ngFor="let entity of entities"
        [value]="entity.value"
        (click)="onSelectEntity(entity.value)"
      >
        {{ entity.label }}
      </mat-list-option>
    </mat-selection-list> -->
    <mat-form-field class="drawer-item" appearance="outline">
      <mat-label>Group By</mat-label>
      <mat-select [(ngModel)]="groupBy" (ngModelChange)="fetchGradingGroups()">
        <mat-option
          *ngFor="let groupBy of groupByOptions"
          [value]="groupBy.value"
        >
          {{ groupBy.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-drawer>
  <span *ngIf="authorizeResourceMethod(resourceActions.LIST)">
    <h2>Grading</h2>
    <span *ngIf="showGroupCards; else submissionsTemplate">
      <span *ngIf="gradingGroups.length > 0; else feedEmpty">
        <div
          class="scroll-feed"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          infiniteScrollContainer=".scroll-feed"
          [fromRoot]="true"
          (scrolled)="onScroll()"
        >
          <div *ngFor="let card of gradingGroups">
            <span class="feed-card" (click)="openGroupedCard(card)">
              <p>{{ card.title }}</p>
              <small>{{ card.subtitle }}</small>
              <p class="card-count">{{ card.count }}</p>
            </span>
          </div>
        </div>
      </span>
    </span>
    <ng-template #submissionsTemplate>
      <span *ngIf="!(isFetching$ | async); else loading">
        <span *ngIf="(exerciseSubmissions$ | async).length > 0; else feedEmpty">
          <div
            class="scroll-feed"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            infiniteScrollContainer=".scroll-feed"
            [fromRoot]="true"
            (scrolled)="onScroll()"
          >
            <div
              *ngFor="let exerciseSubmission of exerciseSubmissions$ | async"
            >
              <span
                class="feed-card"
                (click)="openExerciseSubmission(exerciseSubmission)"
              >
                {{ constructUserName(exerciseSubmission.participant) }}
              </span>
            </div>
          </div>
        </span>
      </span>
    </ng-template>

    <ng-template #feedEmpty>
      <p class="center-title">There are no submissions to grade!</p>
    </ng-template>

    <ng-template #loading>
      <app-simple-loading-spinner></app-simple-loading-spinner>
    </ng-template>
  </span>
</mat-drawer-container>
