.dialog-box {
  width: 60vw;
  min-width: 300px;
  height: 60vh;
  min-height: 300px;
  overflow: auto;
}

.profile-title {
  text-align: center;
}

.card-actions {
  float: right;
}

.avatar {
  display: block;
  height: 150px;
  width: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .dialog-box {
    width: 100%;
    height: auto;
  }
}
