<div class="feed-header-block">
  <!-- <h2>Announcements</h2> -->
  <button
    *ngIf="showAnnouncementCreateOption()"
    (click)="createAnnouncement()"
    class="floating-header-button-top"
    mat-icon-button
    color="primary"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</div>
<span *ngIf="authorizeResourceMethod(resourceActions.LIST)">
  <span *ngIf="(announcements$ | async)?.length > 0; else feedEmpty">
    <div
      class="scroll-feed"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      infiniteScrollContainer=".scroll-feed"
      [fromRoot]="true"
      (scrolled)="onScroll()"
    >
      <div *ngFor="let announcement of announcements$ | async">
        <mat-card
          *ngIf="!announcement.seen"
          class="feed-card"
          (click)="openAnnouncement(announcement)"
        >
          <h2>
            <nz-badge nzDot nzStandalone></nz-badge>&nbsp;
            {{ announcement.title }}
          </h2>
          <p>
            {{ clip(announcement.message) }}
          </p>

          <mat-card-actions>
            <small style="font-style: italic"
              >Posted by {{ announcement?.author?.name }}
              at
              {{ parseDate(announcement.createdAt) }}</small
            >
          </mat-card-actions>
        </mat-card>
        <mat-card
          *ngIf="announcement.seen"
          class="feed-card"
          (click)="openAnnouncement(announcement)"
        >
          <div>
            <p style="color: gray">
              <b>{{ announcement.title }}</b
              >&nbsp;
              <small
                ><i
                  >Posted by {{ announcement?.author?.name }}
                  at
                  {{ parseDate(announcement.createdAt) }}</i
                ></small
              >
            </p>
          </div>
          <mat-card-actions> </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </span>

  <ng-template #feedEmpty>
    <p class="center-title">There are no announcements for you!</p>
  </ng-template>

  <ng-template #loading>
    <app-simple-loading-spinner></app-simple-loading-spinner>
  </ng-template>
</span>
