h2 {
  text-align: center;
}

.member-card {
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 80%;
}

.announcement-card p {
  text-align: left;
}

.profile-button {
  float: right;
  margin: 5px 10px;
}

.title-link {
  cursor: pointer;
  display: inline;
}
