.logo-upload-preview {
  height: 100%;
  width: 100%;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
}

.floating-logo {
  float: left;
}

@media screen and (max-width: 768px) {
  .floating-logo {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
