<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<div *ngIf="!projectDoesNotExist; else projectDoesNotExistTemplate">
  <span *ngIf="!(isFetchingProject$ | async)">
    <div class="project-card">
      <button
        *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
        mat-mini-fab
        color="warn"
        class="profile-button"
        (click)="deleteConfirmation()"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
        mat-mini-fab
        color="info"
        [class.button-loading]="isFetchingProject$ | async"
        class="profile-button"
        (click)="editProject()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <app-share-button class="profile-button"></app-share-button>

      <h2>{{ project.title }}</h2>
      <small>
        Published here on
        {{ parseDate(project.createdAt) }} by
        <a (click)="authorLink()"
          ><b>{{ project.author.name }}</b></a
        >
      </small>
      <hr />
      <p>
        <a
          [href]="project.link"
          alt="project link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          (click)="projectLinkClicked()"
          >{{ project.link }}</a
        >
      </p>
      <p>{{ project?.description }}</p>

      <nz-badge [nzCount]="project.claps" nzStandalone>
        <button
          [nz-tooltip]="
            projectViewed
              ? 'Applaud this project'
              : 'Please review the project before being able to applaud it'
          "
          mat-mini-fab
          (click)="clapProject()"
          class="clap-button-bottom"
        >
          <mat-icon>thumb_up_alt</mat-icon>
        </button></nz-badge
      >

      <button
        nz-tooltip="Report an issue with this project"
        mat-mini-fab
        color="warn"
        (click)="reportProject()"
        class="profile-button-bottom"
      >
        <mat-icon>report</mat-icon>
      </button>
    </div>
  </span>
</div>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>

<ng-template #projectDoesNotExistTemplate>
  <div *ngIf="!(isFetchingProject$ | async); else loading">
    <h2 id="project-not-found">Project not found!</h2>
  </div>
</ng-template>
