<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<h2 class="center-title">Project Form</h2>
<div class="col-lg-8 col-sm-12 form-container">
  <form
    [formGroup]="projectForm"
    novalidate
    (submit)="submitForm(projectForm, formDirective)"
    #formDirective="ngForm"
  >
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        required
        placeholder="Title of the project"
      />
      <small
        class="validation-error"
        *ngIf="
          projectForm.get('title').hasError('required') &&
          formDirective.submitted
        "
      >
        Title is required
      </small>
    </mat-form-field>
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Link</mat-label>
      <input
        matInput
        formControlName="link"
        required
        placeholder="Any link showcasing your work"
      />
    </mat-form-field>
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Course</mat-label>
      <mat-select
        formControlName="course"
        placeholder="The course that this project is associated with, if any"
      >
        <mat-option
          *ngFor="let course of courseOptions$ | async"
          [value]="course.value"
        >
          {{ course.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      type="submit"
      class="floating-button-bottom"
      mat-raised-button
      color="primary"
      [class.button-loading]="(formSubmitting$ | async) === true"
      [disabled]="(formSubmitting$ | async) === true"
    >
      {{ (formSubmitting$ | async) === true ? "Submitting..." : "Submit" }}
    </button>
  </form>

  <h2>Description</h2>
  <md-editor
    name="Description"
    [(ngModel)]="description"
    required
    maxlength="2000"
  >
  </md-editor>
</div>
<br />
<br />
