<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<h2 class="center-title">Project Form</h2>
<div class="col-lg-8 col-sm-12 form-container">
  <form
    [formGroup]="projectForm"
    novalidate
    (submit)="submitForm(projectForm, formDirective)"
    #formDirective="ngForm"
  >
    <mat-form-field class="col-lg-9 col-md-6 col-sm-12" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        required
        placeholder="Title of the project"
      />
      <small
        class="validation-error"
        *ngIf="
          projectForm.get('title').hasError('required') &&
          formDirective.submitted
        "
      >
        Title is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Description</mat-label>
      <input
        matInput
        formControlName="description"
        required
        placeholder="Group's Description"
      />
      <small
        class="validation-error"
        *ngIf="
          projectForm.get('description').hasError('required') &&
          formDirective.submitted
        "
      >
        Description is required
      </small>
    </mat-form-field>

    <button
      type="submit"
      class="floating-button-bottom"
      mat-raised-button
      color="primary"
      [class.button-loading]="(formSubmitting$ | async) === true"
      [disabled]="(formSubmitting$ | async) === true"
    >
      {{ (formSubmitting$ | async) === true ? "Submitting..." : "Submit" }}
    </button>
  </form>
</div>
<br />
<br />
