<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<h2 class="center-title">Chapter Form</h2>
<div class="col-lg-8 col-sm-12 form-container">
  <form
    [formGroup]="chapterForm"
    novalidate
    (submit)="submitForm(chapterForm, formDirective)"
    #formDirective="ngForm"
  >
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        required
        placeholder="Title of the chapter"
      />
      <small
        class="validation-error"
        *ngIf="
          chapterForm.get('title').hasError('required') &&
          formDirective.submitted
        "
      >
        Title is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Instructions</mat-label>
      <input
        matInput
        formControlName="instructions"
        required
        placeholder="Chapter instructions"
      />
      <small
        class="validation-error"
        *ngIf="
          chapterForm.get('instructions').hasError('required') &&
          formDirective.submitted
        "
      >
        Instructions is required
      </small>
    </mat-form-field>

    <button
      type="submit"
      class="floating-button-bottom"
      mat-raised-button
      color="primary"
      [disabled]="(formSubmitting$ | async) === true"
    >
      {{ (formSubmitting$ | async) === true ? "Submitting..." : "Submit" }}
    </button>
  </form>
</div>
