<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<h2 class="center-title">Chapter Form</h2>
<div class="col-lg-8 col-sm-12 form-container">
  <form
    [formGroup]="chapterForm"
    novalidate
    (submit)="submitForm(chapterForm, formDirective)"
    #formDirective="ngForm"
  >
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        required
        placeholder="Title of the chapter"
      />
      <small
        class="validation-error"
        *ngIf="
          chapterForm.get('title').hasError('required') &&
          formDirective.submitted
        "
      >
        Title is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Instructions</mat-label>
      <input
        matInput
        formControlName="instructions"
        required
        placeholder="Chapter instructions"
      />
      <small
        class="validation-error"
        *ngIf="
          chapterForm.get('instructions').hasError('required') &&
          formDirective.submitted
        "
      >
        Instructions is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Course</mat-label>
      <mat-select formControlName="course"
        placeholder="The course that this chapter belongs to">
        <mat-option *ngFor="let course of courseOptions$ | async" [value]="course.value">
          {{ course.label }}
        </mat-option>
      </mat-select>
            <small class="validation-error" *ngIf="
                      chapterForm.get('course').hasError('required') &&
                      formDirective.submitted
                    ">
              Course is required
            </small>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Prerequisites</mat-label>
      <mat-select multiple formControlName="prerequisites" placeholder="Select the prerequisite chapters to unlock this chapter">
        <mat-option *ngFor="let chapter of chapterOptions$ | async" [value]="chapter.value">
          {{ chapter.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Due date</mat-label>
      <input matInput [matDatepicker]="datepicker"
        [min]="currentDate"
        formControlName="dueDate">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker
        [startAt]="currentDate">
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Points</mat-label>
      <input matInput type="number" formControlName="points" placeholder="Points for the chapter" />
    </mat-form-field>
    <button
      type="submit"
      class="floating-button-bottom"
      mat-raised-button
      color="primary"
      [disabled]="(formSubmitting$ | async) === true"
    >
      {{ (formSubmitting$ | async) === true ? "Submitting..." : "Submit" }}
    </button>
  </form>
</div>
