<!-- 
Reference image: https://telegram.org/file/811140968/3/UfbcOfXv2YU.118417/b230905e577f9cc2de 

LICENSE: https://creativecommons.org/licenses/by/3.0/
-->

<!-- -------- -->
<!-- MAIN APP -->
<!-- -------- -->
<section class="mainApp">
  <div class="leftPanel">
    <header>
      <mat-form-field
        class="search-member-input col-lg-11 col-md-11 col-sm-11"
        appearance="outline"
      >
        <input matInput #searchMember placeholder="Search a member..." />

        <button mat-icon-button matSuffix (click)="clearSearchMember()">
          <mat-icon>{{ query.length ? "close" : "search" }}</mat-icon>
        </button>
        <mat-hint *ngIf="showSearchMemberError" align="start"
          >Enter at least 3 characters</mat-hint
        >
      </mat-form-field>
    </header>
    <div class="chats" *ngIf="chatMembers.length">
      <span *ngFor="let member of chatMembers">
        <div class="chatButton active">
          <div class="chatInfo">
            <img
              src="member.avatar"
              class="image my-image"
              alt="Member Avatar"
            />

            <p class="name">{{ member.firstName + " " + member.lastName }}</p>
          </div>

          <div class="status onTop">
            <!-- <p class="date">{{ member.lastActive }}</p> -->
          </div>
        </div>
      </span>
    </div>
    <div *ngFor="let chatItem of chats">
      <div
        class="chatButton"
        [ngClass]="chatItem.id == chat.id ? 'chatButton active' : 'chatButton'"
        (click)="onSelectChat(chatItem)"
      >
        <div class="chatInfo">
          <!-- <img src="member.avatar" class="image my-image" alt="Member Avatar" /> -->

          <p class="name">{{ getChatNameFromChat(chatItem) }}</p>
        </div>

        <div class="status onTop">
          <!-- <p class="date">{{ member.lastActive }}</p> -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="chat.id" class="rightPanel">
    <div class="topBar">
      <div class="rightSide">
        <button class="tbButton search">
          <i class="material-icons">&#xE8B6;</i>
        </button>
        <button class="tbButton otherOptions">
          <i class="material-icons">more_vert</i>
        </button>
      </div>

      <div class="leftSide">
        <p class="chatName">{{ chatName }}</p>
      </div>
    </div>

    <div class="convHistory userBg">
      <!-- CONVERSATION GOES HERE! -->
      <div *ngFor="let chatMessage of chat?.chatmessageSet">
        <mat-card
          [ngClass]="
            ownMessageOrNot(chatMessage) ? 'own-message' : 'others-message'
          "
        >
          <p>
            <img
              [src]="chatMessage?.author?.avatar"
              class="
                ant-avatar ant-avatar-circle ant-avatar-image
                ng-star-inserted
              "
            />
            {{ chatMessage?.author?.firstName }}
          </p>
          <p>{{ chatMessage?.message }}</p>
          <small class="chat-time-stamp">
            Sent on {{ parseDateTimeMethod(chatMessage?.createdAt) }}</small
          >
        </mat-card>
      </div>
      <br />
    </div>

    <div class="replyBar">
      <button class="attach">
        <i class="material-icons d45">attach_file</i>
      </button>

      <input
        type="text"
        class="replyMessage"
        placeholder="Type your message..."
      />

      <div class="emojiBar">
        <div class="emoticonType">
          <button id="panelEmoji">Emoji</button>
          <button id="panelStickers">Stickers</button>
          <button id="panelGIFs">GIFs</button>
        </div>

        <!-- Emoji panel -->
        <div class="emojiList">
          <button id="smileface" class="pick"></button>
          <button id="grinningface" class="pick"></button>
          <button id="tearjoyface" class="pick"></button>
          <button id="rofl" class="pick"></button>
          <button id="somface" class="pick"></button>
          <button id="swfface" class="pick"></button>
        </div>

        <!-- the best part of telegram ever: STICKERS!! -->
        <div class="stickerList">
          <button id="smileface" class="pick"></button>
          <button id="grinningface" class="pick"></button>
          <button id="tearjoyface" class="pick"></button>
        </div>
      </div>

      <div class="otherTools">
        <!-- <button class="toolButtons emoji">
          <i class="material-icons">face</i>
        </button> -->

        <button class="toolButtons audio">
          <i class="material-icons">mic</i>
        </button>
      </div>
    </div>
  </div>
</section>
