<app-password-reset
  *ngIf="showUnprotectedPage(uiroutes.PASSWORD_RESET_ROUTE.route)"
></app-password-reset>
<app-add-edit-member
  *ngIf="showUnprotectedPage(uiroutes.MEMBER_FORM_ROUTE.route)"
>
</app-add-edit-member>
<app-public-user-profile
  *ngIf="showUnprotectedPage(uiroutes.MEMBER_PROFILE_ROUTE.route)"
>
</app-public-user-profile>
<app-institution-profile
  *ngIf="showUnprotectedPage(uiroutes.INSTITUTION_PROFILE_ROUTE.route)"
></app-institution-profile>
<app-privacy *ngIf="showUnprotectedPage(uiroutes.PRIVACY_ROUTE.route)">
</app-privacy>
<app-error-component *ngIf="showUnprotectedPage(uiroutes.ERROR_ROUTE.route)">
  `
</app-error-component>
<app-home *ngIf="showHomePage()"></app-home>
