<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<h2 class="center-title">Announcement Form</h2>
<div class="col-lg-8 col-sm-12 form-container">
  <form
    [formGroup]="announcementForm"
    novalidate
    (submit)="submitForm(announcementForm, formDirective)"
    #formDirective="ngForm"
  >
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        required
        placeholder="Title of the announcement"
      />
      <small
        class="validation-error"
        *ngIf="
          announcementForm.get('title').hasError('required') &&
          formDirective.submitted
        "
      >
        Title is required
      </small>
    </mat-form-field>

    <!-- <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Message</mat-label>
      <textarea
        formControlName="message"
        required
        placeholder="Announcement message"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
      ></textarea>
      <small
        class="validation-error"
        *ngIf="
          announcementForm.get('message').hasError('required') &&
          formDirective.submitted
        "
      >
        Message is required
      </small>
    </mat-form-field> -->

    <div class="col-lg-12 col-md-12 col-sm-12">
      <mat-label><h2>Recipients</h2></mat-label>
      <mat-checkbox
        *ngIf="ShowGlobalRecipients()"
        type="checkbox"
        (change)="recipientsChanged('recipientsGlobal')"
        [formControlName]="recipientsGlobal"
        >Global (Anyone who uses the platform)
      </mat-checkbox>
      <br />
      <mat-checkbox
        type="checkbox"
        (change)="recipientsChanged('recipientsInstitution')"
        [formControlName]="recipientsInstitution"
        >Everyone within my institution</mat-checkbox
      >
      <br />
    </div>
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Group(s)</mat-label>
      <mat-select
        multiple
        (selectionChange)="recipientsChanged('groups')"
        [formControlName]="groups"
        placeholder="The groups to make the announcement to"
      >
        <mat-option
          *ngFor="let group of groupOptions$ | async"
          [value]="group.value"
        >
          {{ group.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      type="submit"
      class="floating-button-bottom"
      mat-raised-button
      color="primary"
      [disabled]="(formSubmitting$ | async) === true"
    >
      {{ (formSubmitting$ | async) === true ? "Submitting..." : "Submit" }}
    </button>
  </form>

  <h2>Message</h2>
  <md-editor
    name="Message"
    [(ngModel)]="message"
    [height]="'200px'"
    required
    maxlength="2000"
  >
  </md-editor>
</div>
<br />
<br />
