.floating-logo {
  float: left;
}

.designation-hint {
  line-height: 3.2em;
  transform: translateY(10px);
  font-size: 75%;
}
.designationFieldHeight{
  height: 96px;
}

.coordinatorGridHead {
  background-color: #0099ff;
  margin: auto;
  padding: 7px;
}

.coordinatorGrid mat-option {
  border: 1px solid #0099ff;
}

.coordinatorGrid mat-option .col:first-child {
  border-right: 1px solid #0099ff;
  ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coordinatorGrid .col {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .floating-logo {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
