<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<span *ngIf="!(isFetchingCourse$ | async)">
  <mat-card class="feed-card" style="cursor: default">
    <h2>{{ course?.title }}</h2>
    <p>{{ course?.description }}</p>
    <mat-card-actions>
      <button
        *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
        mat-mini-fab
        color="info"
        [class.button-loading]="isFetchingCourse$ | async"
        class="left-button"
        (click)="editCourse()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
        mat-mini-fab
        color="warn"
        class="left-button"
        (click)="deleteConfirmation()"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        *ngIf="
          authorizeResourceMethod(resourceActions.UPDATE) &&
          course.status == courseStatusOptions.draft
        "
        mat-raised-button
        color="info"
        [class.button-loading]="isFetchingCourse$ | async"
        class="right-button"
        (click)="publishCourse()"
      >
        Publish
      </button>
    </mat-card-actions>
  </mat-card>
</span>

<div class="feed-header-block">
  <h2>Contents</h2>
  <button
    *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
    mat-mini-fab
    color="primary"
    (click)="reorderSections()"
    class="floating-header-button-top float-left"
  >
    <mat-icon>reorder</mat-icon>
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="floating-header-button-top right-button"
    *ngIf="authorizeResourceMethod(resourceActions.CREATE)"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button
      mat-menu-item
      *ngIf="authorizeResourceMethod(resourceActions.CREATE)"
      (click)="createEditSection()"
    >
      Section
    </button>
    <button
      mat-menu-item
      *ngIf="authorizeResourceMethod(resourceActions.CREATE)"
      (click)="createChapter()"
    >
      Chapter
    </button>
  </mat-menu>
</div>

<span *ngIf="authorizeResourceMethod(resourceActions.LIST)">
  <span *ngIf="!(isFetchingCourseSections$ | async); else loading">
    <span *ngIf="courseSections.length > 0; else sectionFeedEmpty">
      <div *ngFor="let section of courseSections">
        <span class="section-card">
          <button
            *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
            mat-mini-fab
            (click)="reorderChapters(section)"
          >
            <mat-icon>reorder</mat-icon>
          </button>
          <h2 class="section-title" (click)="createEditSection(section)">
            {{ section.index + " " + section.title }}
          </h2>
        </span>
        <ng-container
          *ngTemplateOutlet="
            chaptersListTemplate;
            context: { chapters: sectionChapters(section) }
          "
        ></ng-container>
      </div>
    </span>
  </span>
</span>
<span
  *ngIf="
    authorizeResourceMethod(resourceActions.LIST) && sectionChapters().length
  "
>
  <span *ngIf="!(isFetchingChapters$ | async); else loading">
    <span *ngIf="chapters.length > 0; else chapterFeedEmpty">
      <ng-container
        *ngTemplateOutlet="
          chaptersListTemplate;
          context: { chapters: sectionChapters() }
        "
      ></ng-container>
    </span>
  </span>
</span>

<ng-template let-chapters="chapters" #chaptersListTemplate>
  <div
    *ngFor="let chapter of chapters"
    [ngClass]="chapter.section?.id ? 'section-chapter' : ''"
  >
    <mat-card
      [ngClass]="chapter.locked ? 'feed-card locked-content' : 'feed-card'"
      (click)="openChapter(chapter)"
    >
      {{ chapterTitle(chapter) }}

      <div *ngIf="chapter.locked" class="prerequisites">
        <mat-icon class="info-icon">info</mat-icon>
        {{ chapterPrerequisites(chapter) }}
      </div>
      <br />
      <small class="chapter-due-date" *ngIf="chapter.dueDate"
        >Due on {{ parseDate(chapter.dueDate) }}</small
      >
    </mat-card>
  </div>
</ng-template>
<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
<ng-template #chapterFeedEmpty>
  <p class="center-title">There are no chapters in this course</p>
</ng-template>
<ng-template #sectionFeedEmpty>
  <p class="center-title">There are no sections in this course</p>
</ng-template>
