<div mat-dialog-content class="dialog-box">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ profileData.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ profileData.description }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-dialog-actions class="card-actions">
    <button
      mat-raised-button
      color="primary"
      *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
      (click)="editRole()"
    >
      Edit
    </button>
    <button
      mat-raised-button
      color="warn"
      *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
      (click)="deleteConfirmation()"
    >
      Delete
    </button>
  </mat-dialog-actions>
</div>
