<div data-cy="parent-container">
  <mat-form-field id="search-query-field" appearance="outline">
    <input
      [(ngModel)]="draftSearchQuery"
      (keyup.enter)="initiateGlobalSearch()"
      matInput
      placeholder="Search..."
    />
    <mat-icon
      matSuffix
      id="search-input-icon"
      [nz-tooltip]="
        searchOrClear() == 'search' ? 'Initiate search' : 'Clear search'
      "
      (click)="initiateGlobalSearch()"
      >{{ searchOrClear() }}</mat-icon
    >
  </mat-form-field>
  <nz-tabset
    [nzSelectedIndex]="activeTabIndex"
    [nzSize]="'large'"
    [nzTabBarGutter]="20"
    [nzTabBarStyle]="{
      'font-family': 'Hahmlet, Roboto, sans-serif;'
    }"
    (nzSelectedIndexChange)="onTabChange($event)"
    nzCentered
  >
    <nz-tab [nzTitle]="News">
      <ng-template nz-tab>
        <app-news-feed [currentQuery]="currentQuery"></app-news-feed>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="Courses">
      <ng-template nz-tab>
        <app-courses-feed [currentQuery]="currentQuery"></app-courses-feed>
      </ng-template>
    </nz-tab>    
    <nz-tab [nzTitle]="Institutions">
      <ng-template nz-tab>
        <app-institutions-feed
          [currentQuery]="currentQuery"
        ></app-institutions-feed>
      </ng-template>
    </nz-tab>
    <nz-tab data-cy="learnersTab" [nzTitle]="Learners">
      <ng-template nz-tab>
        <app-learners-feed [currentQuery]="currentQuery"></app-learners-feed>
      </ng-template>
    </nz-tab>
    <!-- <nz-tab nzTitle="Teams">
    <ng-template nz-tab>
      <ng-container *ngTemplateOutlet="teamListFeed"></ng-container>
      </ng-template>
      </nz-tab> -->
  </nz-tabset>
</div>
