<nz-tabset
  [nzSelectedIndex]="activeTabIndex"
  [nzSize]="'large'"
  [nzTabBarGutter]="20"
  [nzTabBarStyle]="{
    'font-family': 'Hahmlet, Roboto, sans-serif;'
  }"
  (nzSelectedIndexChange)="onTabChange($event)"
  nzCentered
>
  <nz-tab [nzTitle]="Institutions">
    <ng-template nz-tab>
      <app-institutions-feed></app-institutions-feed>
    </ng-template>
  </nz-tab>
  <nz-tab [nzTitle]="Learners">
    <ng-template nz-tab>
      <app-learners-feed></app-learners-feed>
    </ng-template>
  </nz-tab>
  <!-- <nz-tab nzTitle="Teams">
    <ng-template nz-tab>
      <ng-container *ngTemplateOutlet="teamListFeed"></ng-container>
      </ng-template>
      </nz-tab> -->
</nz-tabset>
