.dialog-box {
  width: 60vw;
  min-width: 300px;
  height: 60vh;
  min-height: 300px;
  overflow: auto;
  padding: 20px;
}

.dialog-content {
  min-height: 200px;
  padding: 10px;
}

.close-button {
  float: right;
  cursor: pointer;
}

.profile-title {
  text-align: center;
}

.card-actions {
  float: right;
}
.submit-button {
  display: block;
  float: right;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .dialog-box {
    width: 100%;
    height: auto;
  }
}

.card-percentage,
.card-completed {
  display: block;
  float: right;
  margin: 10px;
  margin-right: 20px;
  max-width: 100px;
  max-height: 100px;
}

.completed-circle,
.percentage-circle {
  stroke: var(--shuddhi-color);
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.percentage-circle {
  stroke: var(--orange);
}

.percentage,
.completed {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.color-legend-circle-completed,
.color-legend-circle-percentage {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: right;
}

.color-legend-circle-completed {
  background: var(--shuddhi-color);
}

.color-legend-circle-percentage {
  background: var(--orange);
}

.color-legend {
  float: right;
  margin-right: 20px;
}
