<div class="feed-header-block">
  <h2>Chapters</h2>
  <button
    *ngIf="authorizeResourceMethod(resourceActions.CREATE)"
    (click)="createChapter()"
    class="floating-header-button-top"
    mat-raised-button
    color="primary"
  >
    Create Chapter
  </button>
</div>
<span *ngIf="authorizeResourceMethod(resourceActions.LIST)">
  <span *ngIf="!(isFetching$ | async); else loading">
    <span *ngIf="(chapters$ | async).length > 0; else feedEmpty">
      <div
        class="scroll-feed"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        infiniteScrollContainer=".scroll-feed"
        [fromRoot]="true"
        (scrolled)="onScroll()"
      >
        <div *ngFor="let chapter of chapters$ | async">
          <span class="feed-card" (click)="openChapter(chapter)">
            {{ chapter.title }}
          </span>
        </div>
      </div>
    </span>
  </span>

  <ng-template #feedEmpty>
    <p class="center-title">There are no chapters for you!</p>
  </ng-template>

  <ng-template #loading>
    <app-simple-loading-spinner></app-simple-loading-spinner>
  </ng-template>
</span>
