<div class="floating-header-button-container">
  <mat-menu #menu="matMenu">
    <mat-form-field class="menu-item" appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select
        [(ngModel)]="submissionStatusFilter"
        (ngModelChange)="fetchMembers()"
      >
        <mat-option
          *ngFor="let status of moderationMembershipStatusOptions"
          [value]="status.value"
        >
          {{ status.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-menu>
  <button
    type="button"
    mat-mini-fab
    [matMenuTriggerFor]="menu"
    aria-label="Filter the Grading"
    nzTooltipPlacement="left"
    nz-tooltip="Change the filters to adjust which type of moderation you wish to view"
  >
    <mat-icon>filter_list</mat-icon>
  </button>
</div>
<app-master-grid
  [columns]="columns"
  [rows]="rows$ | async"
  [isFetching]="isFetching$ | async"
  [errorFetching]="errorFetching$ | async"
  [tableTitle]="tableTitle"
  [frameworkComponents]="frameworkComponents"
  [gridOptions]="gridOptions"
  [fetchParams$]="fetchParams$"
  (fetchMethod)="fetchMembers($event[0])"
  [columnFilters]="columnFilters"
  (refreshData)="forceRefetchMembers($event[0])"
  [resource]="resource"
></app-master-grid>
