<app-master-grid
  [defaultColDef]="defaultColDef"
  [columns]="columns"
  [rows]="rows$ | async"
  [isFetching]="isFetching$ | async"
  [errorFetching]="errorFetching$ | async"
  [tableTitle]="tableTitle"
  [frameworkComponents]="frameworkComponents"
  [gridOptions]="gridOptions"
  [fetchParams$]="fetchParams$"
  (fetchMethod)="fetchUserRoles($event[0])"
  [columnFilters]="columnFilters"
  (refreshData)="forceRefetchUserRoles($event[0])"
  (createMethod)="createUserRole()"
  [resource]="resource"
></app-master-grid>
