.dialog-box {
  width: 60vw;
  min-width: 300px;
  height: 60vh;
  min-height: 300px;
  overflow: auto;
}

.profile-title {
  text-align: center;
}

.card-actions {
  float: right;
}

.title-link {
  cursor: pointer;
}

.icon-button {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .dialog-box {
    width: 100%;
    height: auto;
  }
}
