<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<div *ngIf="!issueDoesNotExist; else issueDoesNotExistTemplate">
  <span *ngIf="!(isFetchingIssue$ | async)">
    <mat-card class="issue-card">
      <button
        *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
        mat-mini-fab
        color="warn"
        class="profile-button"
        (click)="deleteConfirmation()"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
        mat-mini-fab
        color="info"
        [class.button-loading]="isFetchingIssue$ | async"
        class="profile-button"
        (click)="editIssue()"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <h2>{{ issue.title }}</h2>
      <p>{{ issue.subtitle }}</p>
      <p>
        <a
          [href]="issue.link"
          alt="issue link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >{{ issue.link }}</a
        >
      </p>
      <p>Issue Description - "{{ issue?.description }}"</p>
      <div *ngIf="issue?.remarks && issue?.resolver?.name">
        <hr />
        <p>
          {{ issue.resolver?.name }} marked this issue as
          {{ renderStatusLabel(issue.status) }} with the following remarks:-
        </p>
        <p>"{{ issue?.remarks }}"</p>
        <hr />
      </div>
      <small
        style="font-style: italic; cursor: pointer"
        (click)="reporterLink()"
        >{{ renderIssueSubtitle() }}</small
      >
    </mat-card>
  </span>
</div>

<div *ngIf="showIssueActions()" class="issue-card">
  <mat-card>
    <mat-card-content>
      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        required
        appearance="outline"
      >
        <mat-label>Remarks</mat-label>
        <textarea
          matInput
          [(ngModel)]="remarks"
          placeholder="Explain why you're changing the status"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <div class="card-actions">
    <button
      class="col-lg-3 col-md-3 col-sm-12"
      mat-raised-button
      color="warn"
      class="profile-button"
      (click)="updateIssueStatus(issueStatusOptions.no_action)"
    >
      No action needed
    </button>
    <button
      class="col-lg-3 col-md-3 col-sm-12"
      mat-raised-button
      color="secondary"
      class="profile-button"
      (click)="updateIssueStatus(issueStatusOptions.duplicate)"
    >
      Mark as duplicate
    </button>
    <button
      class="col-lg-3 col-md-3 col-sm-12"
      mat-raised-button
      color="primary"
      class="profile-button"
      (click)="updateIssueStatus(issueStatusOptions.resolved)"
    >
      Mark as resolved
    </button>
    <br />
    <br />
    <br />
    <hr />
    <h2>All issues for this resource</h2>
    <app-issue-feed [link]="issue.link"></app-issue-feed>
  </div>
</div>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>

<ng-template #issueDoesNotExistTemplate>
  <div *ngIf="!(isFetchingIssue$ | async); else loading">
    <h2 id="issue-not-found">Issue not found!</h2>
  </div>
</ng-template>
