#home-page {
  height: calc(100vh - 200px);
}

h1 {
  // background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 1);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-weight: bold;
}

small {
  font-weight: bold;
  font-size: 0.8em;
}

.news-date-block {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px 10px;
}

.scroll-container {
  height: calc(100vh - 190px);
}

.scroll-feed {
  overflow: auto;
  height: 95%;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 5px;
  margin-bottom: 50px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    height: 95vh;
    overflow-y: scroll;
  }
}

#homeCarousel-wrapper {
  padding: 10px;
}

.home-project-feed {
  float: right;
  height: 100%;
}

#homeCarousel {
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  //   background: rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.2);
  height: 30px;
  margin-top: 75px;
}

.carousel-item {
  height: 100%;
  max-width: 90vw;
  max-height: 80vh;
  overflow: hidden;
  cursor: pointer;
}

.slideshow-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  aspect-ratio: auto;
  max-width: 90vw;
  // max-height: 60vh;
}

.date {
  top: 10px;
  left: 10px;
  font-size: 2em;
}

#hero-block {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  text-align: center;
  height: 50vh;
  width: 50vw;
  display: block;
  margin: 100px auto;
  padding: 100px;
}

#hero-logo {
  width: 50%;
}

.cards {
  display: grid;
  margin: 0px auto;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  align-items: stretch;
  width: 95vw;
  margin-bottom: 10px;
}

.card {
  cursor: pointer;
}
.user-not-found {
  margin: 100px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1250px) {
  #hero-logo {
    width: 75%;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .column {
    margin-bottom: 100px;
  }

  .scroll-feed {
    height: auto;
  }

  #home-page {
    height: 100%;
  }

  #homeCarousel {
    max-width: 95vw;
    height: auto;
    display: block;
    float: none;
  }
  #home-project-feed {
    width: 95vw;
    display: block;
    float: none;
  }
  #hero-block {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
  }

  #hero-logo {
    width: 80%;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
