<div
  *ngIf="
    news?.length || (news?.length == 0 && currentQuery);
    else emptyListTemplate
  "
>
  <ng-container *ngTemplateOutlet="newsListTemplate"></ng-container>
</div>

<ng-template #newsListTemplate>
  <ng-container
    style="display: block"
    *ngTemplateOutlet="searchQueryDescription"
  ></ng-container>
  <div id="homeCarousel-wrapper">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <ng-container *ngFor="let item of news; index as i">
          <div
            [class]="slideClass(i)"
            (click)="onClickNewsCard(item)"
            data-interval="6000"
          >
            <span class="image-text date">
              <h2>{{ parseDate(item.createdAt) }}</h2>
            </span>
            <img
              [src]="item.image ? item.image : '/assets/images/logo.svg'"
              class="slideshow-image"
              alt="News feature image"
            />
            <span class="image-text caption">
              <h1>{{ item.title }}</h1>
              <p>
                {{ item.blurb }}
              </p>
            </span>
          </div>
        </ng-container>
      </div>
      <a
        class="carousel-control-prev"
        href="#homeCarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#homeCarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- <div
    class="scroll-feed"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    infiniteScrollContainer=".scroll-feed"
    [fromRoot]="true"
    (scrolled)="onNewsScroll()"
  >
    <div *ngFor="let item of news$ | async">
      <mat-card
        class="feed-card"
        style="background-repeat: no-repeat; background-size: auto"
        [style.backgroundImage]="item.image ? 'url(' + item.image + ')' : null"
        [style.backgroundSize]="item.image ? 'cover' : null"
        [style.color]="item.image ? 'white' : 'black'"
        [style.height]="item.image ? '300px' : null"
        (click)="onClickNewsCard(item)"
      >
        <div
          [style.backgroundColor]="item.image ? 'rgba(0,0,0,.8)' : null"
          [style.padding]="item.image ? '10px' : null"
        >
          <p>
            <b>{{ item.title }}</b>
          </p>
          <p>{{ item.blurb ? clip(item?.blurb) : clip(item?.message) }}</p>
          <p>
            <small
              ><i
                >Posted by {{ item?.author?.name }}
                at
                {{ parseDate(item.createdAt) }}</i
              ></small
            >
          </p>
        </div>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </div> -->
</ng-template>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner
></ng-template>

<ng-template #emptyListTemplate>
  <div id="hero-block">
    <h2>Welcome to</h2>
    <img id="hero-logo" src="assets/images/logo.svg" />
  </div>
</ng-template>

<ng-template #searchQueryDescription>
  <p style="text-align: center">
    <small *ngIf="currentQuery"
      >Showing news items with "{{ currentQuery }}"</small
    >
  </p>
</ng-template>
