.scroll-feed {
  overflow: auto;
  height: calc(100vh - 190px);
}

.card-count {
  float: right;
  margin-left: 10px;
}

.menu-item {
  margin: 5px 10px;
  display: block;
}

.card-button {
  float: right;
  display: inline;
  margin: auto 5px;
}
