<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<span *ngIf="!(isFetchingChapter$ | async)">
  <button
    *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
    mat-raised-button
    color="warn"
    class="profile-button"
    (click)="deleteConfirmation()"
  >
    Delete
  </button>
  <button
    *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
    mat-raised-button
    color="info"
    [class.button-loading]="isFetchingChapter$ | async"
    class="profile-button"
    (click)="editChapter()"
  >
    Edit
  </button>

  <div class="chapter-card">
    <h2>{{ chapter?.title }}</h2>
  </div>
</span>

<div class="feed-header-block">
  <h2>Exercises</h2>
  <button *ngIf="authorizeResourceMethod(resourceActions.CREATE)" (click)="createExercise()"
    class="floating-header-button-top" mat-raised-button color="primary">
    Create Exercise
  </button>
</div>
<span *ngIf="authorizeResourceMethod(resourceActions.LIST)">
  <span *ngIf="!(isFetchingExercises$ | async); else loading">
    <span *ngIf="(exercises$ | async).length > 0; else feedEmpty">
      <div class="scroll-feed" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        infiniteScrollContainer=".scroll-feed" [fromRoot]="true" (scrolled)="onScroll()">
        <div *ngFor="let exercise of exercises$ | async">
          <span class="feed-card" >
            {{ exercise.prompt }}
          </span>
        </div>
      </div>
    </span>
  </span>

  <ng-template #feedEmpty>
    <p class="center-title">There are no exercises in this chapter</p>
  </ng-template>

</span>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
