h2 {
  text-align: center;
}

.chapter-card {
  text-align: center;
  display: block;
  margin: 2px auto;
  // padding: 20px;
  width: 80%;
}

.chapter-card > small {
  margin-top: 0px;
  padding-top: 0px;
}

.profile-button {
  float: right;
  margin: 5px 10px;
}
