h2 {
  text-align: center;
}

.chapter-card {
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin: 2px auto;
  padding: 10px;
  width: 80%;
}

.chapter-card,
.left {
  text-align: left;
}

.chapter-card > small {
  margin-top: 0px;
  padding-top: 0px;
}

.container {
  text-align: center;
}

.form-container {
  border: 1px solid grey;
  border-radius: 5px;
  width: 80%;
  display: block;
  margin: 2px auto;
  padding: 10px;
}
.form-element-block {
  display: inline-block;
  margin: 15px;
}

.exercise-form-card {
  border: 1px solid grey;
  border-radius: 5px;
  display: block;
  width: 80%;
  padding: 20px;
  margin: 10px auto;
}

.profile-button {
  float: right;
  margin: 5px 10px;
}
