<span *ngIf="showDialog == LOGIN">
  <ng-container *ngTemplateOutlet="loginTemplate"></ng-container>
</span>
<span *ngIf="showDialog == GENERATE_EMAIL_OTP">
  <ng-container *ngTemplateOutlet="generateEmailOTPTemplate"></ng-container>
</span>
<span *ngIf="showDialog == VERIFY_EMAIL_OTP">
  <ng-container *ngTemplateOutlet="verifyEmailOTPTemplate"></ng-container>
</span>
<span *ngIf="showDialog == TROUBLE_SIGNING_IN">
  <ng-container *ngTemplateOutlet="troubleSigningInTemplate"></ng-container>
</span>
<span *ngIf="showDialog == RESEND_ACTIVATION_EMAIL">
  <ng-container *ngTemplateOutlet="resendActivationEmailTemplate"></ng-container>
</span>
<span *ngIf="showDialog == FORGOT_PASSWORD">
  <ng-container *ngTemplateOutlet="forgotPasswordTemplate"></ng-container>
</span>

<!-- 
  LOGIN FORM
 -->
<ng-template #loginTemplate>
  <div data-cy="login-dialog-box" mat-dialog-content class="login-dialog-box">
    <mat-card-header class="form-title loginTitle">
      <mat-card-title data-cy="dialog-box-title">Login</mat-card-title>
    </mat-card-header>
    
    <div class="">
      <div class="text-center">
        <button mat-stroked-button class="googleLoginBtn" (click)="openGoogleLogin($event)">
          <!-- <mat-icon class="googleLoginIcon" svgIcon="logo"></mat-icon> Sign in with Google -->
        </button>
      </div>
      <div class="separator">
        <h3><span>OR</span></h3>
      </div>
    </div>
    <form [formGroup]="loginForm" novalidate #formDirective="ngForm" (submit)="login(loginForm, formDirective)">
      <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline" data-cy="email-field">
        <mat-label>Email ID</mat-label>
        <input autofocus (keyup)="preventSpaces($event)" matInput formControlName="email" placeholder="Email" required />
        <small class="validation-error" *ngIf="
            loginForm.get('email').hasError('required') &&
            formDirective.submitted
          ">
          Email ID is required
        </small>

        <small class="validation-error" *ngIf="
        loginForm.get('email').hasError('email')
          ">
          Please enter a valid email
        </small>
      </mat-form-field>

      <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline" data-cy="password-field">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required
          placeholder="Password" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <small class="validation-error" *ngIf="
            loginForm.get('password').hasError('required') &&
            formDirective.submitted
          ">
          Password is required
        </small>
      </mat-form-field>
      <mat-checkbox nz-tooltip="Check this box only if you are using your own computer/phone. Remember to log off!"
        nzTooltipPlacement="right" color="primary" [checked]="rememberMe" (change)="toggleAuthStorage($event)"
        data-cy="remember-me-checkbox">
        Remember me on this device
      </mat-checkbox>
      <button data-cy="login-submit-button" type="submit" class="submit-button" mat-raised-button color="primary"
        [disabled]="isSubmittingForm === true ">
        {{ isSubmittingForm === true ? "Logging in..." : "Login" }}
      </button>
    </form>

    <div class="secondary-auth-options w-65">
      <p data-cy="login-issues-link" class="link-button" style="color: var(--red)" (click)="showTroubleSigningIn()">
        Help! I am unable to login!
      </p>
      <p data-cy="registration-link" class="link-button" (click)="showRegister()">

        Create New Account?
      </p>
    </div>
  </div>
</ng-template>

<!-- 
  ENTER EMAIL TO GENERATE EMAIL OTP
 -->
<ng-template #generateEmailOTPTemplate>
  <div data-cy="generate-email-otp-dialog-box" mat-dialog-content class="email-input-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title data-cy="dialog-box-title">Register</mat-card-title>
    </mat-card-header>
    <hr />
    <mat-card-subtitle style="text-align: left">
      <p>Email Id</p>
    </mat-card-subtitle>
    <form [formGroup]="emailForm" novalidate #formDirective="ngForm"
      (submit)="generateEmailOTP(emailForm, formDirective)">
      <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline" data-cy="email-field">
        <mat-label>Email ID</mat-label>
        <input autofocus matInput formControlName="email" (keyup)="preventSpaces($event)" required
          placeholder="Email ID" />
        <small class="validation-error" *ngIf="
            emailForm.get('email').hasError('required') &&
            formDirective.submitted
          ">
          Email is required
        </small>
        <small class="validation-error" *ngIf="
            emailForm.get('email').hasError('email') && formDirective.submitted
          ">
          Please enter a valid email
        </small>
      </mat-form-field>
      <button data-cy="send-password-reset-email-button" class="submit-button" mat-raised-button color="primary"
        [disabled]="isSubmittingForm === true">
        {{
        isSubmittingForm === true
        ? "Emailing verificaiton code..."
        : "Register"
        }}
      </button>
    </form>
    <div class="secondary-auth-options">
      <p class="link-button" data-cy="go-to-login-dialog-box" (click)="showLogin()">
        Login
      </p>
    </div>
  </div>
</ng-template>

<!-- 
  ENTER EMAIL OTP TO HAVE IT VERIFIED
 -->
<ng-template #verifyEmailOTPTemplate>
  <div data-cy="verify-email-otp-dialog-box" mat-dialog-content class="email-input-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title data-cy="dialog-box-title">Verify OTP</mat-card-title>
    </mat-card-header>
    <hr />
    <mat-card-subtitle style="text-align: left">
      <p>
        Check the email OTP that you received in your email inbox and enter it
        below
      </p>
    </mat-card-subtitle>
    <form [formGroup]="emailForm" novalidate #formDirective="ngForm"
      (submit)="verifyEmailOTP(emailForm, formDirective)">
      <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline" data-cy="otp-field">
        <mat-label>Email OTP</mat-label>
        <input autofocus matInput formControlName="otp" (keyup)="preventSpaces($event)" required
          placeholder="Email OTP" />
          <small class="validation-error" *ngIf="
            emailForm.get('otp').hasError('required') &&
            formDirective.submitted
          ">
          OTP is required
        </small>
      </mat-form-field>
      <mat-card-subtitle style="text-align: left">
        <p>
          The email ID you provided is <b>{{ emailForm.get("email").value }}</b>. If you wish to change this,
          <a (click)="initiateEmailVerification()"><i>click here</i></a>.
        </p>
      </mat-card-subtitle>
      <button data-cy="send-password-reset-email-button" class="submit-button" mat-raised-button color="primary"
        [disabled]="isSubmittingForm === true">
        {{
        isSubmittingForm === true
        ? "Verifying OTP..."
        : "Verify OTP"
        }}
      </button>
    </form>
    <div class="secondary-auth-options">
      <p class="link-button" data-cy="go-to-login-dialog-box" (click)="showLogin()">
        Login
      </p>
    </div>
  </div>
</ng-template>

<!-- 
  GET EMAIL FOR SENDING PASSWORD RESET EMAIL
 -->
<ng-template #forgotPasswordTemplate>
  <div data-cy="password-reset-dialog-box" mat-dialog-content class="email-input-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title data-cy="dialog-box-title">Send Password Reset Email</mat-card-title>
      <hr />
      <mat-card-subtitle style="text-align: left">
        <p>
          Enter the email ID tied to your account and submit this form to
          receive instructions to reset your password in the email.
        </p>
      </mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="emailForm" novalidate #formDirective="ngForm"
      (submit)="sendPasswordResetEmail(emailForm, formDirective)">
      <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline" data-cy="email-field">
        <mat-label>Email ID</mat-label>
        <input autofocus matInput formControlName="email" (keyup)="preventSpaces($event)" required
          placeholder="Email ID" />
        <small class="validation-error" *ngIf="
            emailForm.get('email').hasError('required') &&
            formDirective.submitted
          ">
          Email is required
        </small>
        <small class="validation-error" *ngIf="
            emailForm.get('email').hasError('email') && formDirective.submitted
          ">
          Please enter a valid email
        </small>
      </mat-form-field>
      <button data-cy="send-password-reset-email-button" class="submit-button" mat-raised-button color="primary"
        [disabled]="isSubmittingForm === true">
        {{
        isSubmittingForm === true
        ? "Sending Reset Email..."
        : "Send Reset Instructions"
        }}
      </button>
    </form>
    <div class="secondary-auth-options">
      <p class="link-button" data-cy="go-to-login-dialog-box" (click)="showLogin()">
        Login
      </p>
    </div>
  </div>
</ng-template>

<!-- 
  GET EMAIL FOR RESENDING ACTIVATION EMAIL
 -->
<ng-template #resendActivationEmailTemplate>
  <div data-cy="resend-activation-dialog-box" mat-dialog-content class="email-input-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title data-cy="dialog-box-title">Resend activation Email</mat-card-title>
      <br />
      <hr />
      <mat-card-subtitle style="text-align: left">
        <p>
          Enter the email ID you used to register and submit this form to
          receive instructions to activate your account.
        </p>
      </mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="emailForm" novalidate #formDirective="ngForm"
      (submit)="sendAccountActivationEmail(emailForm, formDirective)">
      <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline" data-cy="email-field">
        <mat-label>Email ID</mat-label>
        <input matInput autofocus formControlName="email" (keyup)="preventSpaces($event)" required
          placeholder="Email ID" />
        <small class="validation-error" *ngIf="
            emailForm.get('email').hasError('required') &&
            formDirective.submitted
          ">
          Email is required
        </small>
        <small class="validation-error" *ngIf="
            emailForm.get('email').hasError('email') && formDirective.submitted
          ">
          Please enter a valid email
        </small>
      </mat-form-field>
      <button data-cy="send-activation-email-button" class="submit-button" mat-raised-button color="primary"
        [disabled]="isSubmittingForm === true">
        {{
        isSubmittingForm === true
        ? "Sending Activation Email..."
        : "Send Activation Instructions"
        }}
      </button>
    </form>
    <div class="secondary-auth-options">
      <p class="link-button" data-cy="go-to-login-dialog-box" (click)="showLogin()">
        Login
      </p>
    </div>
  </div>
</ng-template>

<!-- 
  CHOOSE REASON FOR LOGIN ISSUES
 -->
<ng-template #troubleSigningInTemplate>
  <div data-cy="login-issues-dialog-box" mat-dialog-content class="email-input-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title data-cy="dialog-box-title">What issue are you having?</mat-card-title>
    </mat-card-header>
    <hr />
    <button data-cy="activation-email-resend-button" (click)="showResendActivation()" mat-raised-button color="primary">
      I did not receive my account activation email
    </button>
    <hr />
    <button data-cy="forgot-password-button" (click)="showForgotPassword()" mat-raised-button color="primary">
      I forgot my password
    </button>
    <hr />
    <div class="secondary-auth-options">
      <p data-cy="go-to-login-dialog-box" class="link-button" (click)="showLogin()">
        Login
      </p>
    </div>
  </div>
</ng-template>