<span *ngIf="showDialog == LOGIN">
  <ng-container *ngTemplateOutlet="loginTemplate"></ng-container>
</span>
<span *ngIf="showDialog == REGISTER">
  <ng-container *ngTemplateOutlet="registerTemplate"></ng-container>
</span>
<span *ngIf="showDialog == INVITECODE">
  <ng-container *ngTemplateOutlet="invitecodeTemplate"></ng-container>
</span>
<span *ngIf="showDialog == TROUBLE_SIGNING_IN">
  <ng-container *ngTemplateOutlet="troubleSigningInTemplate"></ng-container>
</span>
<span *ngIf="showDialog == RESEND_ACTIVATION_EMAIL">
  <ng-container
    *ngTemplateOutlet="resendActivationEmailTemplate"
  ></ng-container>
</span>
<span *ngIf="showDialog == FORGOT_PASSWORD">
  <ng-container *ngTemplateOutlet="forgotPasswordTemplate"></ng-container>
</span>

<!-- 
  LOGIN FORM
 -->
<ng-template #loginTemplate>
  <div mat-dialog-content class="login-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form
      [formGroup]="loginForm"
      novalidate
      #formDirective="ngForm"
      (submit)="login(loginForm, formDirective)"
    >
      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        appearance="outline"
      >
        <mat-label>Username</mat-label>
        <input
          autofocus
          (keyup)="preventSpaces($event)"
          matInput
          formControlName="username"
          required
          placeholder="Username"
        />
        <small
          class="validation-error"
          *ngIf="
            loginForm.get('username').hasError('required') &&
            formDirective.submitted
          "
        >
          Username is required
        </small>
      </mat-form-field>

      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        appearance="outline"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required
          placeholder="Password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <small
          class="validation-error"
          *ngIf="
            loginForm.get('password').hasError('required') &&
            formDirective.submitted
          "
        >
          Password is required
        </small>
      </mat-form-field>
      <mat-checkbox
        nz-tooltip="Check this box only if you are using your own computer/phone. Remember to log off!"
        nzTooltipPlacement="right"
        color="primary"
        [checked]="rememberMe"
        (change)="toggleAuthStorage($event)"
      >
        Remember me on this device
      </mat-checkbox>
      <button
        type="submit"
        class="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="isSubmittingForm === true"
      >
        {{ isSubmittingForm === true ? "Logging in..." : "Login" }}
      </button>
    </form>
    <div class="secondary-auth-options">
      <p
        class="link-button"
        style="color: var(--red)"
        (click)="showTroubleSigningIn()"
      >
        Help! I am unable to login!
      </p>
      <p class="link-button" (click)="showRegister()">Register</p>
    </div>
  </div>
</ng-template>

<!-- 
  INVITECODE FORM
 -->
<ng-template #invitecodeTemplate>
  <div mat-dialog-content class="invitecode-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title>Enter Invite Code</mat-card-title>
    </mat-card-header>
    <form
      [formGroup]="invitecodeForm"
      novalidate
      #formDirective="ngForm"
      (submit)="verifyInvitecode(invitecodeForm)"
    >
      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        appearance="outline"
      >
        <mat-label>Invite Code</mat-label>
        <input
          matInput
          autofocus
          formControlName="invitecode"
          required
          placeholder="Enter the invite code you received from your institution"
        />
        <small
          class="validation-error"
          *ngIf="
            invitecodeForm.get('invitecode').hasError('required') &&
            formDirective.submitted
          "
        >
          Invite Code is required
        </small>
        <small
          class="validation-error"
          *ngIf="
            (invitecodeForm.get('invitecode').hasError('maxlength') ||
              invitecodeForm.get('invitecode').hasError('minlength')) &&
            formDirective.submitted
          "
        >
          Please enter a valid invite code
        </small>
      </mat-form-field>
      <button
        type="submit"
        class="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="isSubmittingForm === true"
      >
        {{ isSubmittingForm === true ? "Verifying..." : "Verify invitation" }}
      </button>
    </form>
    <div class="secondary-auth-options">
      <p class="link-button" (click)="showForgotPassword()">Forgot password?</p>
      <p class="link-button" (click)="showLogin()">Login</p>
    </div>
    <mat-dialog-actions class="card-actions"> </mat-dialog-actions>
  </div>
</ng-template>

<!-- 
  REGISTER FORM, WHERE USERNAME, EMAIL AND PASSWORD ARE STORED 
-->
<ng-template #registerTemplate>
  <div mat-dialog-content class="register-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form
      [formGroup]="registerForm"
      novalidate
      #formDirective="ngForm"
      (submit)="register(registerForm, formDirective)"
    >
      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        appearance="outline"
      >
        <mat-label>Username</mat-label>
        <input
          matInput
          autofocus
          (keyup)="sanitizeUsername($event)"
          formControlName="username"
          required
          placeholder="Username"
        /><mat-hint
          *ngIf="
            !(
              registerForm.get('username').hasError('required') &&
              formDirective.submitted
            )
          "
          >You will not be able to change the username later.</mat-hint
        >
        <small
          class="validation-error"
          *ngIf="
            registerForm.get('username').hasError('required') &&
            formDirective.submitted
          "
        >
          Username is required
        </small>
      </mat-form-field>

      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        appearance="outline"
      >
        <mat-label>Email ID</mat-label>
        <input
          matInput
          formControlName="email"
          (keyup)="preventSpaces($event)"
          required
          placeholder="Email ID"
        />
        <small
          class="validation-error"
          *ngIf="
            registerForm.get('email').hasError('required') &&
            formDirective.submitted
          "
        >
          Email is required
        </small>
        <small
          class="validation-error"
          *ngIf="
            registerForm.get('email').hasError('email') &&
            formDirective.submitted
          "
        >
          Please enter a valid email
        </small>
      </mat-form-field>

      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        appearance="outline"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password1"
          required
          placeholder="Password"
        />
        <small
          class="validation-error"
          *ngIf="
            registerForm.get('password1').hasError('required') &&
            formDirective.submitted
          "
        >
          Password is required
        </small>
      </mat-form-field>
      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        appearance="outline"
      >
        <mat-label>Confirm</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password2"
          required
          placeholder="Confirm password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <small
          class="validation-error"
          *ngIf="
            registerForm.get('password2').hasError('required') &&
            formDirective.submitted
          "
        >
          Password is required
        </small>
      </mat-form-field>
      <button
        type="submit"
        class="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="isSubmittingForm === true"
      >
        {{ isSubmittingForm === true ? "Registering..." : "Register" }}
      </button>
    </form>
    <div class="secondary-auth-options">
      <p class="link-button" (click)="showForgotPassword()">Forgot password?</p>
      <p class="link-button" (click)="showLogin()">Login</p>
    </div>
    <mat-dialog-actions class="card-actions"> </mat-dialog-actions>
  </div>
</ng-template>

<!-- 
  GET EMAIL FOR SENDING PASSWORD RESET EMAIL
 -->
<ng-template #forgotPasswordTemplate>
  <div mat-dialog-content class="email-input-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title>Send Password Reset Email</mat-card-title>
      <hr />
      <mat-card-subtitle style="text-align: left"
        ><p>
          Enter the email ID tied to your account and submit this form to
          receive instructions to reset your password in the email.
        </p></mat-card-subtitle
      >
    </mat-card-header>

    <form
      [formGroup]="emailForm"
      novalidate
      #formDirective="ngForm"
      (submit)="sendPasswordResetEmail(emailForm, formDirective)"
    >
      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        appearance="outline"
      >
        <mat-label>Email ID</mat-label>
        <input
          autofocus
          matInput
          formControlName="email"
          (keyup)="preventSpaces($event)"
          required
          placeholder="Email ID"
        />
        <small
          class="validation-error"
          *ngIf="
            emailForm.get('email').hasError('required') &&
            formDirective.submitted
          "
        >
          Email is required
        </small>
        <small
          class="validation-error"
          *ngIf="
            emailForm.get('email').hasError('email') && formDirective.submitted
          "
        >
          Please enter a valid email
        </small>
      </mat-form-field>
      <button
        class="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="isSubmittingForm === true"
      >
        {{
          isSubmittingForm === true
            ? "Sending Reset Email..."
            : "Send Reset Instructions"
        }}
      </button>
    </form>
    <div class="secondary-auth-options">
      <p class="link-button" (click)="showLogin()">Login</p>
    </div>
  </div>
</ng-template>

<!-- 
  GET EMAIL FOR RESENDING ACTIVATION EMAIL
 -->
<ng-template #resendActivationEmailTemplate>
  <div mat-dialog-content class="email-input-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title>Resend activation Email</mat-card-title>
      <br />
      <hr />
      <mat-card-subtitle style="text-align: left"
        ><p>
          Enter the email ID you used to register and submit this form to
          receive instructions to activate your account.
        </p></mat-card-subtitle
      >
    </mat-card-header>

    <form
      [formGroup]="emailForm"
      novalidate
      #formDirective="ngForm"
      (submit)="sendAccountActivationEmail(emailForm, formDirective)"
    >
      <mat-form-field
        class="col-lg-12 col-md-12 col-sm-12"
        appearance="outline"
      >
        <mat-label>Email ID</mat-label>
        <input
          matInput
          autofocus
          formControlName="email"
          (keyup)="preventSpaces($event)"
          required
          placeholder="Email ID"
        />
        <small
          class="validation-error"
          *ngIf="
            emailForm.get('email').hasError('required') &&
            formDirective.submitted
          "
        >
          Email is required
        </small>
        <small
          class="validation-error"
          *ngIf="
            emailForm.get('email').hasError('email') && formDirective.submitted
          "
        >
          Please enter a valid email
        </small>
      </mat-form-field>
      <button
        class="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="isSubmittingForm === true"
      >
        {{
          isSubmittingForm === true
            ? "Sending Activation Email..."
            : "Send Activation Instructions"
        }}
      </button>
    </form>
    <div class="secondary-auth-options">
      <p class="link-button" (click)="showLogin()">Login</p>
    </div>
  </div>
</ng-template>

<!-- 
  CHOOSE REASON FOR LOGIN ISSUES
 -->
<ng-template #troubleSigningInTemplate>
  <div mat-dialog-content class="email-input-dialog-box">
    <mat-card-header class="form-title">
      <mat-card-title>What issue are you having?</mat-card-title>
    </mat-card-header>
    <hr />
    <button (click)="showResendActivation()" mat-raised-button color="primary">
      I did not receive my account activation email
    </button>
    <hr />
    <button (click)="showForgotPassword()" mat-raised-button color="primary">
      I forgot my password
    </button>
    <hr />
    <div class="secondary-auth-options">
      <p class="link-button" (click)="showLogin()">Login</p>
    </div>
  </div>
</ng-template>
