$left-panel-width: 320px;

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  background: #419fd9;
  font-family: "Open Sans", "Roboto", "Ubuntu", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input[type="search"],
input[type="text"] {
  border: none;
  outline: none;
}

input[type="checkbox"] {
  margin: 7px;
  margin-right: 15px;
}

/* FIRST, THE OVERLAY ELEMENTS */

/* switch to mobile version screen */
.switchMobile {
  position: absolute;
  width: 65%;
  height: auto;
  padding: 10px;
  background: #fff;
  top: 75px;
  left: 0px;
  right: 0px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  display: none;
}

.switchMobile .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.switchMobile .desc {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 25px;
}

.switchMobile .okay {
  float: right;
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  background: #419fd9;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
}

/* ----------------- */
/* MAIN APP ELEMENTS */
/* ----------------- */

.leftPanel {
  position: relative;
  display: inline-block;
  left: 0px;
  width: $left-panel-width;
  height: calc(100vh - 70px);
  overflow: auto;
  float: left;
  background: #fff;
  border-right: 1px solid #ddd;
}

.autoscroll {
  overflow: auto;
  // height: calc(100vh-170px);
  height: 10px;
}

header {
  width: 100%;
  height: 70px;
  background: #fff;
}

.chats {
  width: 100%;
  // height: calc(100vh - 70px);
  height: 100%;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatButton {
  float: left;
  width: 100%;
  height: 80px;
  background: #fff;
  color: #555;
  cursor: pointer;
  overflow: hidden;
}

.chatButton:hover {
  color: #555;
  background: #eee;
}

.active,
.active:hover {
  color: #fff;
  background: #419fd9;
}

.chatInfo {
  float: left;
}

.chatInfo p {
  float: left;
}

.chatInfo .image {
  position: absolute;
  width: 55px;
  height: 55px;
  background-size: cover;
  border-radius: 100%;
  margin: 13px 13px;
}

.chatInfo .name {
  float: left;
  font-weight: 600;
  margin-left: 80px;
  margin-top: 18px;
}
.chatInfo .subtitle {
  float: left;
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 80px;
}

.chatInfo .message {
  float: left;
  clear: left;
  margin-left: 80px;
  margin-top: 7px;
}

.status {
  width: 60px;
  height: 100%;
  position: relative;
  float: right;
}

.status .fixed {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
}

div[class~="normal"] > .fixed {
  display: none;
}

div[class~="normal"] > .count {
  right: 10px;
  bottom: 7px;
}

div[class~="onTop"] > .fixed {
  display: block;
  width: 24px;
  height: 24px;
  fill: #fff;
}

div[class~="onTop"] > .count {
  right: 49px;
  bottom: 7px;
  background: #fff;
  color: #419fd9;
}

.status .count {
  position: absolute;
  right: 49px;
  bottom: 7px;
  width: auto;
  height: auto;
  padding: 7px;
  border-radius: 20px;
  color: #222;
  background: rgba(0, 0, 0, 0.12);
}

.status .date {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 12px;
}

.status .read {
  position: absolute;
  right: 53px;
  top: 6px;
}

.rightPanel {
  float: left;
  width: calc(100% - 321px);
  height: calc(100vh - 100px);
  background: #999;
}

.rightPanel .topBar {
  position: relative;
  width: 100%;
  height: 70px;
  background: #fff;
}

.leftSide {
  display: inline-block;
  clear: none;
  float: left;
}

.leftSide .chatName {
  float: left;
  margin-left: 30px;
  margin-top: 13px;
  color: #444;
  font-weight: 600;
  cursor: default;
}

.chatName > span {
  font-size: 12px;
  font-weight: 500;
  color: #bbb;
  margin-left: 10px;
}

.leftSide .chatStatus {
  float: left;
  clear: left;
  margin-left: 30px;
  margin-top: 5px;
  color: #419fd9;
  font-weight: 300;
  cursor: default;
}

.rightSide {
  display: inline-block;
  clear: none;
  float: right;
  margin-right: 20px;
}

.tbButton,
.otherTools .toolButtons {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background: #fff;
  color: #888;
  border-radius: 100%;
}

.tbButton:hover,
.otherTools .toolButtons:hover {
  color: #555;
  background: #ddd;
}

/* THE CONVERSATION HISTORY CSS */
.search-member-input {
  margin: 0px 10px;
}
.convHistory {
  float: left;
  position: relative;
  width: 100%;
  height: calc(100vh - 190px);
  // height: 100%;
  background: #333;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: -11px;
}

/* THE REPLY BAR CSS */

.replyBar {
  width: calc(100vw - 320px);
  height: 70px;
  float: left;
  background: #fff;
  position: absolute;
  bottom: 0;
}

.replyBar .attach {
  width: 70px;
  height: 70px;
  color: #777;
  background: #fff;
  float: left;
}

.replyBar .attach:hover {
  color: #555;
  background: #ddd;
}

.replyBar .d45 {
  transform: rotate(45deg);
  font-size: 32px;
}

.replyBar .replyMessage {
  width: calc(100% - 220px);
  float: left;
  height: 70px;
  padding: 0px 8px;
  font-size: 16px;
}

.replyBar .otherTools {
  float: right;
  width: 120px;
  height: 70px;
}

.emojiBar {
  display: none;
  position: absolute;
  width: 325px;
  height: 200px;
  padding: 10px;
  right: 30px;
  bottom: 80px;
  border: 2px solid #ddd;
  border-radius: 3px;
  background: #fff;
}

.mainApp {
  // padding-top: 100px;
  height: calc(100vh - 100px);
}

.own-message,
.others-message {
  display: block;
  min-width: 30vw;
  max-width: 50vw;
  margin: 5px;
}

.own-message {
  margin-left: auto;
  margin-right: 5px;
}

.others-message {
  margin-left: 5px;
  margin-right: auto;
}

.own-message::after,
others-message::after {
  clear: both;
}

@media screen and (max-width: 940px) {
  body {
    font-size: 14px;
  }

  .msg {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  .leftPanel {
    width: 80px;
  }
  .replyBar {
    width: calc(100% - 80px);
  }

  .rightPanel {
    width: calc(100% - 81px);
  }

  .msg {
    width: auto;
    max-width: 60%;
  }

  .searchChats,
  .chatButton > .name,
  .chatButton > .message,
  .chatButton > .status {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .switchMobile {
    display: block;
  }

  .search-member-input .leftPanel,
  .rightPanel,
  .menuWrap,
  .config,
  .overlay {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .switchMobile {
    width: calc(220px - 20px);
  }
}
