<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<span *ngIf="!(isFetchingCourse$ | async)">
  <mat-card class="feed-card">
    <h2>{{ course?.title }}</h2>
    <p>{{ course?.blurb }}</p>
    <mat-card-actions>
      <button
        *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
        mat-mini-fab
        color="info"
        [class.button-loading]="isFetchingCourse$ | async"
        class="left-button"
        (click)="editCourse()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
        mat-mini-fab
        color="warn"
        class="left-button"
        (click)="deleteConfirmation()"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        *ngIf="
          authorizeResourceMethod(resourceActions.UPDATE) &&
          course.status == courseStatusOptions.draft
        "
        mat-raised-button
        color="info"
        [class.button-loading]="isFetchingCourse$ | async"
        class="right-button"
        (click)="publishCourse()"
      >
        Publish
      </button>
    </mat-card-actions>
  </mat-card>
</span>

<div class="feed-header-block">
  <h2>Chapters</h2>
  <button
    mat-mini-fab
    (click)="reorderChapters()"
    class="floating-header-button-top float-left"
  >
    <mat-icon>reorder</mat-icon>
  </button>
  <button
    *ngIf="authorizeResourceMethod(resourceActions.CREATE)"
    (click)="createChapter()"
    class="floating-header-button-top profile-button right-button"
    mat-raised-button
    color="primary"
  >
    Create Chapter
  </button>
</div>
<span *ngIf="authorizeResourceMethod(resourceActions.LIST)">
  <span *ngIf="!(isFetchingChapters$ | async); else loading">
    <span *ngIf="chapters.length > 0; else feedEmpty">
      <div
        class="scroll-feed"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        infiniteScrollContainer=".scroll-feed"
        [fromRoot]="true"
        (scrolled)="onScroll()"
      >
        <div *ngFor="let chapter of chapters">
          <mat-card class="feed-card" (click)="openChapter(chapter)">
            {{ chapter.title }}
          </mat-card>
        </div>
      </div>
    </span>
  </span>

  <ng-template #feedEmpty>
    <p class="center-title">There are no chapters in this course</p>
  </ng-template>
</span>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
