h2 {
  text-align: center;
}

.course-card {
  text-align: center;
  display: block;
  margin: 2px auto;
  // padding: 20px;
  width: 80%;
}

.course-card > small {
  margin-top: 0px;
  padding-top: 0px;
}

.left-button {
  margin: 5px 10px;
}

.right-button {
  float: right;
  margin: 5px 10px;
  margin-right: 5%;
}

.scroll-feed {
  overflow: auto;
  height: calc(100vh - 190px);
}

.float-left {
  float: left;
  margin-left: 5%;
}
