h2 {
  text-align: center;
}

.institution-card {
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 80%;
  min-height: 300px;
}

.logo {
  float: left;
  display: block;
  height: 150px;
  width: auto;
  margin-bottom: 20px;
}

.announcement-card p {
  text-align: left;
}

.profile-button {
  float: right;
  margin: 5px 10px;
}

.icon-button {
  cursor: pointer;
}
