<div mat-dialog-content class="dialog-box">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ profileData.name }}</mat-card-title>

      <mat-card-subtitle>
        {{ generateSubtitle() }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <img [src]="profileData.avatar" class="avatar" alt="profile pic" />
      </div>
      <p>{{ profileData.title }}</p>
      <p>
        {{ profileData.bio }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-dialog-actions class="card-actions">
    <button
      mat-mini-fab
      color="primary"
      *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
      (click)="editMember()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="warn"
      *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
      (click)="deleteConfirmation()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
