.form-container {
  display: block;
  margin: auto;
}

.validation-error {
  color: red;
  position: absolute;
  display: block;
  margin-top: 20px;
}
.floating-back-button {
  position: absolute;
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.05);
}

.floating-header-button-top {
  float: right;
  margin-right: 20px;
  margin-top: -45px;
}

.floating-header-button-container {
  float: right;
  display: inline;
  margin-right: 20px;
  margin-top: -45px;
}
.floating-header-button-container > button {
  margin-right: 20px;
}

.floating-button-bottom {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.floating-button-bottom .mat-icon {
  height: 50px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.center-title {
  text-align: center;
}

.feed-header-block {
  text-align: center;
  margin-bottom: 20px;
}

/* .feed-card {
  border: 1px solid grey;
  border-radius: 5px;
  display: block;
  width: 90%;
  padding: 20px;
  margin: 10px auto;
  cursor: pointer;
  max-height: 600px;
  overflow: auto;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.05);
} */

.feed-card {
  display: block;
  cursor: pointer;
  width: 90%;
  padding: 20px;
  margin: 10px auto;
  max-height: 700px;
  overflow: auto;
}

.thumbnail {
  width: auto;
  height: auto;
  max-height: 200px;
  min-height: 100px;
  min-width: 100px;
  max-width: 200px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .floating-back-button {
    position: static;
    margin-left: 20px;
    background: rgba(0, 0, 0, 0.05);
  }

  .floating-button-bottom {
    position: static;
    display: block;
    margin: 20px auto;
  }
  .floating-header-button-top,
  .floating-header-button-container {
    margin-right: 5px;
    margin-top: -52px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.dropdoawn-loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 25px;
  width: 20px;
  height: 20px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: var(--shuddhi-color);
  animation: spinner 0.8s linear infinite;
}

.button-loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: var(--shuddhi-color);
  animation: spinner 0.8s linear infinite;
}

.locked-content {
  /* filter: blur(8px);
  -webkit-filter: blur(2px); */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: not-allowed;
}

.prerequisites {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  height: 2.1em;
}

.info-icon {
  color: var(--blue);
  float: left;
  padding: 0px;
  margin: -2px 5px 5px 0px;
}

@media screen and (max-width: 768px) {
  .feed-card {
    overflow-x: auto;
  }

  .floating-header-button-container {
    float: none;
    display: block;
    margin-right: 5px;
    margin-top: -25px;
  }
  .floating-header-button-container > button {
    margin-right: 5px;
  }
}
