<div id="title-tab">
  <div class="title-block">
    <mat-form-field
      id="search-query-field"
      *ngIf="authorizeResourceMethod(resourceActions.LIST)"
      appearance="outline"
    >
      <input
        [(ngModel)]="draftSearchQuery"
        (keyup.enter)="initiateGlobalSearch()"
        matInput
        placeholder="Search..."
      />
      <mat-icon
        matSuffix
        id="search-input-icon"
        (click)="initiateGlobalSearch()"
        >search</mat-icon
      >
    </mat-form-field>
  </div>
  <div class="title-block" id="title">
    <h2 style="text-align: center">
      {{ tableTitle }}
      <!-- <mat-icon
        id="sync-records-icon"
        *ngIf="!isFetching"
        (click)="refreshRecords()"
      >
        sync
      </mat-icon> -->
    </h2>
  </div>
  <div
    *ngIf="
      createMethod.observers.length &&
      authorizeResourceMethod(resourceActions.CREATE)
    "
    class="title-block"
  >
    <button
      (click)="createRecord()"
      id="add-button"
      mat-icon-button
      color="primary"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>
<span *ngIf="authorizeResourceMethod(resourceActions.LIST)">
  <ag-grid-angular
    class="ag-theme-alpine table-style"
    [gridOptions]="gridOptions"
    [rowData]="rows"
    [columnDefs]="columns"
    [defaultColDef]="defaultColDef"
    [rowSelection]="rowSelection"
    (firstDataRendered)="onFirstDataRendered($event)"
    (rowDataChanged)="onRowDataChanged($event)"
    (sortChanged)="onSortChanged($event)"
    (filterChanged)="onFilterChanged($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (columnResized)="onColumnResize($event)"
    (dragStopped)="onColumnReorder($event)"
    [rowHeight]="rowHeight"
    [getRowHeight]="getRowHeight"
    (gridReady)="onGridReady($event)"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    [frameworkComponents]="frameworkComponents"
    [isFullWidthCell]="isFullWidthCell"
    [fullWidthCellRenderer]="fullWidthCellRenderer"
    [fullWidthCellRendererParams]="fullWidthCellRendererParams"
    [enableCellTextSelection]="enableCellTextSelection"
  >
  </ag-grid-angular>
  <app-paginator
    [totalRecords]="totalRecords"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    [rowsShowing]="rows?.length"
    [staticTable]="staticTable"
    [searchQuery]="searchParams?.searchQuery"
    (onPageSizeChange)="onPageSizeChange($event)"
    (onPageChange)="onPageChange($event)"
  >
  </app-paginator>
</span>
