.floating-avatar {
  float: left;
}

@media screen and (max-width: 990px) {
  .floating-avatar {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
