<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<span *ngIf="!(isFetchingGroup$ | async)">
  <div class="group-card">
    <button
      *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
      mat-mini-fab
      color="warn"
      class="profile-button"
      (click)="deleteConfirmation()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
      mat-mini-fab
      color="info"
      [class.button-loading]="isFetchingGroup$ | async"
      class="profile-button"
      (click)="editGroup()"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      *ngIf="group?.admins"
      [nz-tooltip]="group?.admins?.length + ' admin(s)'"
      class="profile-button"
      mat-mini-fab
      color="accent"
    >
      {{ group?.admins?.length }}
    </button>
    <button
      *ngIf="group?.members"
      [nz-tooltip]="group?.members?.length + ' member(s)'"
      class="profile-button"
      mat-mini-fab
      color="primary"
    >
      {{ group?.members?.length }}
    </button>
    <h2 data-cy="group-name">{{ group.name }}</h2>
    <p>{{ clip(group.description) }}</p>

    <small style="font-style: italic">{{ renderGroupSubtitle(group) }}</small>
  </div>
  <div class="table-wrapper">
    <app-master-grid
      tableHeightStatic="500px"
      [staticTable]="true"
      [columns]="selectedMemberColumns"
      [rows]="memberRows"
    ></app-master-grid>
  </div>
</span>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
