<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
<h2 class="center-title">Course Form</h2>
<div class="col-lg-8 col-sm-12 form-container">
  <form
    [formGroup]="courseForm"
    novalidate
    (submit)="submitForm(courseForm, formDirective)"
    #formDirective="ngForm"
  >
    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        required
        placeholder="Title of the course"
      />
      <small
        class="validation-error"
        *ngIf="
          courseForm.get('title').hasError('required') &&
          formDirective.submitted
        "
      >
        Title is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Blurb</mat-label>
      <input
        matInput
        formControlName="blurb"
        required
        placeholder="A very brief description of the course"
      />
      <small
        class="validation-error"
        *ngIf="
          courseForm.get('blurb').hasError('required') &&
          formDirective.submitted
        "
      >
        Blurb is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        required
        placeholder="Detailed description of the course"
      ></textarea>
      <small
        class="validation-error"
        *ngIf="
          courseForm.get('description').hasError('required') &&
          formDirective.submitted
        "
      >
        Description is required
      </small>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Institutions</mat-label>
      <mat-select
        multiple
        formControlName="institutions"
        placeholder="The institutions eligible for this course"
      >
        <mat-option
          *ngFor="let institution of institutionOptions$ | async"
          [value]="institution.value"
        >
          {{ institution.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Mandatory Prerequisites</mat-label>
      <mat-select
        multiple
        formControlName="mandatoryPrerequisites"
        placeholder="Courses required to be eligible for this course"
      >
        <mat-option *ngFor="let course of courseOptions" [value]="course.value">
          {{ course.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Recommended Prerequisites</mat-label>
      <mat-select
        multiple
        formControlName="recommendedPrerequisites"
        placeholder="Optional course requirements"
      >
        <mat-option *ngFor="let course of courseOptions" [value]="course.value">
          {{ course.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Expected start date</mat-label>
      <input
        matInput
        [matDatepicker]="startdatepicker"
        formControlName="startDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startdatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startdatepicker [startAt]="currentDate">
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Expected end date</mat-label>
      <input
        matInput
        [matDatepicker]="enddatepicker"
        formControlName="endDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="enddatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #enddatepicker
        [startAt]="
          courseForm.get('startDate').value
            ? courseForm.get('startDate').value
            : currentDate
        "
      >
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-lg-12 col-md-12 col-sm-12" appearance="outline">
      <mat-label>Credit Hours (expected hrs/week of effort required)</mat-label>
      <input
        matInput
        type="number"
        formControlName="creditHours"
        placeholder="Number of hours/week"
      />
    </mat-form-field>

    <mat-form-field
      *ngIf="memberOptions?.length"
      class="col-lg-12 col-md-12 col-sm-12"
      [class.dropdown-loading]="isFetchingMembers"
      appearance="outline"
    >
      <mat-label>Participants</mat-label>
      <mat-select
        multiple
        formControlName="participants"
        placeholder="The particippants of this course"
      >
        <mat-option *ngFor="let member of memberOptions" [value]="member.value">
          {{ member.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ag-grid-angular
      class="ag-theme-alpine group-member-table"
      [rowData]="participantRows"
      [columnDefs]="selectedParticipantColumns"
    >
    </ag-grid-angular>
    <button
      type="submit"
      class="floating-button-bottom"
      mat-raised-button
      color="primary"
      [disabled]="(formSubmitting$ | async) === true"
    >
      {{ (formSubmitting$ | async) === true ? "Submitting..." : "Submit" }}
    </button>
  </form>
</div>
<br />
<br />
