<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<span *ngIf="!(isFetchingAnnouncement$ | async)">
  <div class="announcement-card">
    <button
      *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
      mat-mini-fab
      color="warn"
      class="profile-button"
      (click)="deleteConfirmation()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <h2>{{ announcement.title }}</h2>
    <div class="markdown-container">
      <markdown [data]="announcement?.message"></markdown>
    </div>
    <small class="left" style="font-style: italic"
      >Posted by {{ announcement?.author?.name }} at
      {{ parseDate(announcement.createdAt) }}</small
    >
  </div>
</span>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
