<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<span *ngIf="!(isFetchingAnnouncement$ | async)">
  <button
    *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
    mat-mini-fab
    color="warn"
    class="profile-button"
    (click)="deleteConfirmation()"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <div class="announcement-card">
    <h2>{{ announcement.title }}</h2>
    <p class="left">{{ announcement.message }}</p>
    <small class="left" style="font-style: italic"
      >Posted by {{ announcement?.author?.firstName }}
      {{ announcement?.author?.lastName }} at
      {{ parseDate(announcement.createdAt) }}</small
    >
  </div>
</span>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
