<mat-tab-group
  mat-align-tabs="center"
  color="primary"
  [(selectedIndex)]="activeTabIndex"
  (selectedTabChange)="onTabChange($event)"
>
  <mat-tab *ngIf="entities.length" [label]="tabIndexList[0]">
    <div class="mat-tab">
      <app-admin-dashboard
        [params]="params"
        [entities]="entities"
      ></app-admin-dashboard>
    </div>
  </mat-tab>
  <mat-tab
    *ngIf="authorizeResourceMethod(resources.ANNOUNCEMENT)"
    [label]="tabIndexList[1]"
  >
    <div class="mat-tab">
      <app-announcement-dashboard></app-announcement-dashboard>
    </div>
  </mat-tab>
  <mat-tab
    *ngIf="authorizeResourceMethod(resources.CHAPTER)"
    [label]="tabIndexList[2]"
  >
    <div class="mat-tab">
      <app-assignment-dashboard></app-assignment-dashboard>
    </div>
  </mat-tab>
  <mat-tab
    [label]="tabIndexList[3]"
    *ngIf="authorizeResourceMethod(resources.COURSE)"
  >
    <div class="mat-tab"><app-course-dashboard></app-course-dashboard></div>
  </mat-tab>
  <mat-tab
    [label]="tabIndexList[4]"
    *ngIf="authorizeResourceMethod(resources.GROUP)"
  >
    <div class="mat-tab"><app-group-dashboard></app-group-dashboard></div>
  </mat-tab>
  <mat-tab
    [label]="tabIndexList[5]"
    *ngIf="authorizeResourceMethod(resources.GRADING)"
  >
    <div class="mat-tab">
      <app-grading-dashboard></app-grading-dashboard>
    </div>
  </mat-tab>
  <mat-tab
    [label]="tabIndexList[6]"
    *ngIf="authorizeResourceMethod(resources.REPORT)"
  >
    <div class="mat-tab"><app-report-dashboard></app-report-dashboard></div>
  </mat-tab>
</mat-tab-group>
