<div *ngIf="!userDoesNotExist; else userDoesNotExistTemplate">
  <button mat-icon-button (click)="goBack()" class="floating-back-button">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>

  <mat-card class="member-card">
    <button
      mat-mini-fab
      color="info"
      class="profile-button"
      *ngIf="ownProfile()"
      (click)="editMember()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <div>
      <img [src]="member.avatar" class="avatar" alt="profile pic" />
    </div>
    <h2 style="text-align: left">
      {{ member.name }}
    </h2>

    <mat-card-content>
      <p>
        {{ member.title }},
        <a (click)="onClickInstitution()" *ngIf="member?.institution?.name">{{
          member?.institution?.name
        }}</a>
      </p>
      <p>
        {{ member.bio }}
      </p>
    </mat-card-content>
  </mat-card>
  <nz-tabset
    class="tabs-card"
    [nzSelectedIndex]="activeTabIndex"
    [nzSize]="'large'"
    [nzTabBarGutter]="20"
    [nzTabBarStyle]="{
      'font-family': 'Hahmlet, Roboto, sans-serif;'
    }"
    (nzSelectedIndexChange)="onTabChange($event)"
    nzCentered
  >
    <nz-tab nzTitle="Courses">
      <ng-template nz-tab>
        <app-user-courses
          [member]="member"
          [ownProfile]="ownProfile()"
        ></app-user-courses> </ng-template
    ></nz-tab>
    <nz-tab nzTitle="Projects">
      <ng-template nz-tab>
        <app-user-projects
          [member]="member"
          [ownProfile]="ownProfile()"
        ></app-user-projects></ng-template
    ></nz-tab>
  </nz-tabset>
</div>

<ng-template #userDoesNotExistTemplate>
  <div *ngIf="!(isFetchingFormRecord$ | async); else loading">
    <h2 id="user-not-found">User not found!</h2>
  </div>
</ng-template>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>
