<button mat-icon-button (click)="goBack()" class="floating-back-button">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<span *ngIf="!(isFetchingChapter$ | async)">
  <mat-card class="feed-card">
    <button
      *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
      mat-mini-fab
      type="button"
      color="warn"
      class="profile-button"
      (click)="deleteConfirmation()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      *ngIf="authorizeResourceMethod(resourceActions.UPDATE)"
      mat-mini-fab
      type="button"
      color="info"
      [class.button-loading]="isFetchingChapter$ | async"
      class="profile-button"
      (click)="editChapter()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <h2>{{ chapter?.title }}</h2>
    <p class="left">{{ chapter?.instructions }}</p>
    <small class="left" style="font-style: italic" *ngIf="chapter?.dueDate"
      >Due on {{ parseDate(chapter?.dueDate) }}
    </small>
  </mat-card>
</span>

<div class="feed-header-block">
  <h2>Exercises</h2>
</div>
<span *ngIf="authorizeResourceMethod(resourceActions.LIST)">
  <span *ngIf="!(isFetchingExercises$ | async); else loading">
    <span *ngIf="exercises.length > 0; else feedEmpty">
      <div
        class="scroll-feed"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        infiniteScrollContainer=".scroll-feed"
        [fromRoot]="true"
        (scrolled)="onScroll()"
      >
        <div *ngFor="let exercise of exercises; let i = index">
          <ng-container
            *ngTemplateOutlet="
              exerciseCard;
              context: {
                exercise: exercise,
                response: exerciseSubmissionOf(exercise),
                index: i
              }
            "
          ></ng-container>
        </div>
      </div>
    </span>
  </span>
</span>
<br />
<button
  *ngIf="allowSubmissionCreation()"
  class="floating-button-bottom"
  mat-raised-button
  color="primary"
  (click)="updateFormBeforeSubmit()"
  [disabled]="(formSubmitting$ | async) === true"
>
  {{ (formSubmitting$ | async) === true ? "Submitting..." : "Submit" }}
</button>
<br />

<ng-template #feedEmpty>
  <p class="center-title">There are no exercises in this chapter</p>
</ng-template>

<ng-template #loading>
  <app-simple-loading-spinner></app-simple-loading-spinner>
</ng-template>

<ng-template
  #exerciseCard
  let-question="exercise"
  let-response="response"
  let-index="index"
>
  <span class="exercise-form-card">
    <button
      *ngIf="authorizeResourceMethod(resourceActions.DELETE)"
      mat-mini-fab
      type="button"
      color="warn"
      [class.button-loading]="isFetchingExercises$ | async"
      class="profile-button"
      (click)="deleteExerciseConfirmation(question)"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <p class="form-element-block col-lg-12 col-md-12 col-sm-12">
      {{ question.prompt }}
    </p>
    <span
      class="form-element-block col-lg-12 col-md-12 col-sm-12"
      *ngIf="question.questionType == questionTypes.descriptive_answer"
    >
      <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
        <mat-label>Answer</mat-label>
        <input
          matInput
          [disabled]="chapterSubmitted"
          [value]="response.answer"
          (keypress)="updateExerciseSubmissionAnswer($event, question)"
          placeholder="Specify a possible valid answer"
        />
      </mat-form-field>
    </span>

    <span
      class="form-element-block col-lg-12 col-md-12 col-sm-12"
      *ngIf="question.questionType == questionTypes.options"
    >
      <ul
        class="exercise-submission-options"
        *ngFor="let option of question.options; let i = index"
      >
        <li
          (click)="
            chapterSubmitted
              ? null
              : updateExerciseSubmissionOption(option, question)
          "
          [class]="
            option == response?.option
              ? 'exercise-submission-option highlighted-option'
              : 'exercise-submission-option'
          "
          [ngStyle]="chapterSubmitted ? { cursor: 'default' } : null"
        >
          {{ option }}
        </li>
      </ul>
    </span>

    <span
      class="form-element-block col-lg-12 col-md-12 col-sm-12"
      *ngIf="question.questionType == questionTypes.image_upload"
    >
      <div
        *ngIf="chapterSubmitted"
        class="col-lg-3 col-md-4 col-sm-12 floating-logo"
      >
        <div
          *ngIf="response.images?.length"
          class="col-lg-12 col-md-12 col-sm-12"
        >
          <span *ngFor="let image of response.images; let i = index">
            <img
              [src]="image"
              alt="Exercise submission"
              class="logo-upload-preview"
              [ngStyle]="chapterSubmitted ? { cursor: 'default' } : null"
            />
          </span>
        </div>
        <br />
        <br />
      </div>
      <div
        *ngIf="!chapterSubmitted"
        class="col-lg-3 col-md-4 col-sm-12 floating-logo"
      >
        <div
          *ngIf="imagesQueuedForUpload[question.id]?.length"
          class="col-lg-12 col-md-12 col-sm-12"
        >
          <span
            *ngFor="
              let image of imagesQueuedForUpload[question.id];
              let i = index
            "
          >
            <img
              [src]="image.url"
              alt="Exercise submission"
              class="logo-upload-preview"
            />

            <button
              type="button"
              mat-button
              (click)="removePreviewImage(question, i)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </span>
        </div>
        <br />
        <br />
        <input
          id="logo-choose-button"
          type="file"
          accept="image/*"
          placeholder="Image upload"
          (change)="addImageFileToSubmission($event, question)"
        />
      </div>
    </span>

    <span
      class="form-element-block col-lg-12 col-md-12 col-sm-12"
      *ngIf="question.questionType == questionTypes.link"
    >
      <mat-form-field class="col-lg-6 col-md-12 col-sm-12" appearance="outline">
        <mat-label>Link</mat-label>
        <input
          matInput
          [disabled]="chapterSubmitted"
          [value]="response.link"
          (keypress)="updateExerciseSubmissionLink($event, question)"
          placeholder="Link"
        />
      </mat-form-field>
    </span>
    <span *ngIf="chapterSubmitted && response.remarks">
      <p>Remarks - {{ response.remarks }}</p>
    </span>
  </span>
</ng-template>
